Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

add modal onProposeMember
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/ui/src/lib/modals/dao-membership/propose-member/propose-member.component.html
  projects/ui/src/lib/modals/dao-membership/propose-member/propose-member.component.scss
  projects/ui/src/lib/modals/dao-membership/propose-member/propose-member.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/propose-member/propose-member.component.ts
  projects/ui/src/lib/modals/dao-membership/propose-member/propose-member.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add modal onRejectMember
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.html
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.scss
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.ts
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add modal onAddWorkingGroup
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.html
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.scss
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.ts
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add modal AddMembershipWorkingGroup
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.html
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.scss
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.ts
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fix
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
Due: eslint --fix --config ./.eslintrc.json

vote ok
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix --config ./.eslintrc.json

temp
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix --config ./.eslintrc.json

isCanVote
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

isManager$
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

add modal text
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

rm log
  projects/ui/src/lib/listing/listing.component.html
Due: none

voting square, red colors, buttons, new red icons, card UI
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.scss
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  projects/ui/src/lib/modals/modals.module.ts
  projects/ui/src/lib/voting-square/voting-square.component.scss
  resources/assets/icons/avatar/dao-member-avatar.png
  resources/assets/icons/avatar/dao-member-avatar.svg
  resources/assets/icons/avatar/mwg-avatar.png
  resources/assets/icons/avatar/mwg-avatar.svg
  resources/assets/img/dao-membership-type-preview.png
  resources/assets/img/dao-membership-type.png
  resources/i18n/en.json
  resources/styles/button.scss
  resources/styles/const.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

header tabs font smaller, ui adjustments
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.scss
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

removed dao membership tab from header, --> moved to Members.
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/styles/button.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

button ProposeMember made hidden when logged in as DAO Manager
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
Due: none

Added a condition under which the manager cannot vote
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

fixed pull request comments
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.scss
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/ui/src/lib/listing/listing.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Fix MembersPageComponent test
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Fix DaoMembershipTemplateComponent test
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Fix ui test
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Fix lint
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-membership-working-group/add-membership-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-working-group/add-working-group.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/reject-member/reject-member.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

fix lint
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix e2e test
  package.json
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/libs/src/lib/decorators/debug$.decorator.ts
  projects/services/src/lib/hash/hash.service.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.ts
  projects/ui/src/lib/stepper/stepper.component.html
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
