Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

fix url
  projects/libs/src/lib/pipes/link-http.pipe.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --fix --config ./.eslintrc.json

PRODUCTION-2323
  resources/i18n/en.json
Due: none

landing: updated steps "How to DAO"
  resources/i18n/en.json
Due: none

PRODUCTION-2324
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/body/body.component.ts
Due: eslint --fix --config ./.eslintrc.json

PRODUCTION-2326
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
Due: eslint --fix --config ./.eslintrc.json

PRODUCTION-2329
  projects/ui/src/lib/flow-text/flow-text.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

lint and tests
  projects/dapp/src/app/app.component.ts
  projects/dapp/src/app/pages/about-page/about-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.spec.ts
  projects/libs/src/lib/pipes/link-http.pipe.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/safe-html.pipe.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/flow-text/flow-text.module.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.module.ts
  projects/ui/src/lib/user-contacts/user-contacts.module.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Added sample env file
  .gitignore
  sample.env
Due: none

Added labels for event on grant
  resources/i18n/en.json
Due: none

Fix tests
  projects/dapp/src/app/pages/landing-page/landing-page.component.spec.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Fix tests
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.spec.ts
  projects/ui/src/lib/entity/body/body.component.ts
Due: eslint --fix --config ./.eslintrc.json

Modify starting application to use environments
  .gitignore
  README.md
  angular.json
  package.json
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  resources/i18n/en.json
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

PRODUCTION-2322: In the disruptive grant, the accept work result button does not appear for WG. Working group can finalize the grant
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --fix --config ./.eslintrc.json

Added in production config testnet configuration
  .eslintignore
  projects/dapp/src/environments/environment.prod.ts
  sample.env
Due: eslint --fix --config ./.eslintrc.json

Create LICENSE
  LICENSE
Due: none

Update deploy configuration
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

diagrams updated, workflow width fixed, en.json updated
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  resources/assets/img/diagram_disruptive_2x.png
  resources/assets/img/diagram_interhack_2x.png
  resources/assets/img/diagram_web3_2x.png
  resources/assets/img/test-diagram-disruptive.png
  resources/assets/img/test-diagram-interhack.png
  resources/assets/img/test-diagram-web3.png
  resources/i18n/en.json
Due: stylelint --fix

PRODUCTION-2318: A disruptive grant cannot be rejected by a team at a score of -1
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/ui/src/lib/team/team.component.ts
Due: eslint --fix --config ./.eslintrc.json

Update deploy config
  .eslintignore
  .eslintrc.json
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  Dockerfile
  Procfile
  README.md
  angular.json
  package.json
  pm2.config.js
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  sample.env
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

Fix release deploy config
  .github/workflows/release.yml
Due: none

translated links from the landing page to use the language file
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
Due: eslint --fix --config ./.eslintrc.json

transferred texts and links to a language file
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/footer/footer.module.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

lint&tests
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/footer/footer.module.ts
Due: eslint --fix --config ./.eslintrc.json

transferred the error text to the language file
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page-routing.providers.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/libs/src/lib/pipes/safe-html.pipe.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

removed the use of a router to get the type of contract and its id
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint&tests
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/libs/src/lib/pipes/safe-html.pipe.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
Due: eslint --fix --config ./.eslintrc.json

en.json updated
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  resources/i18n/en.json
Due: none

fixed bug in Solutions
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: stylelint --fix

lint
  projects/dapp/src/environments/environment.stage.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Added analytics in project
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  projects/dapp/src/index.html
Due: markdownlint --fix

removed scrolling in mobile version from md
  projects/ui/src/lib/entity/body/body.component.scss
Due: stylelint --fix

set the maximum width for images in markdown
  resources/styles/markdown.scss
Due: stylelint --fix

fixed button display at medium resolution
  projects/ui/src/lib/entity/header/header.component.scss
Due: stylelint --fix

text added to Workflow
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  resources/i18n/en.json
Due: stylelint --fix

removed ui-team and used new component instead
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  projects/ui/src/lib/score-list/score-list.component.ts
  projects/ui/src/lib/score-list/score-list.module.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/team/team.component.spec.ts
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/team/team.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

PRODUCTION-2349
  projects/services/src/lib/stepper/stepper.service.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
