Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

fix style
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
  resources/styles/container.scss
Due: stylelint --fix

fix style
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

fix style
  projects/dapp/src/app/pages/listing-page/listing-page.component.scss
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
Due: stylelint --fix

fix style
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
Due: stylelint --fix

fix style
  projects/ui/src/lib/entity/team/team.component.scss
Due: stylelint --fix

Fix title and images
  projects/dapp/src/index.html
  resources/assets/img/disruptive-type-preview.png
  resources/assets/img/disruptive-type.png
  resources/assets/img/interhack-type-preview.png
  resources/assets/img/interhack-type.png
  resources/assets/img/web3-type-preview.png
  resources/assets/img/web3-type.png
  resources/i18n/en.json
Due: none

fix style
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  resources/styles/mixins/elements/btn-container.scss
Due: stylelint --fix

add menu-toggle
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

rm popup
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/popup/popup.interface.ts
  projects/services/src/lib/popup/popup.module.ts
  projects/services/src/lib/popup/popup.service.spec.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
  projects/ui/src/lib/layout/common-layout/common-layout.module.ts
  projects/ui/src/lib/popup/popup.component.html
  projects/ui/src/lib/popup/popup.component.scss
  projects/ui/src/lib/popup/popup.component.spec.ts
  projects/ui/src/lib/popup/popup.component.ts
  projects/ui/src/lib/popup/popup.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix style
  resources/styles/container.scss
Due: stylelint --fix

Added address on contract
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.scss
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.ts
  resources/styles/container.scss
  resources/styles/index.scss
  resources/styles/links.scss
  resources/styles/mixins/elements/floating-label.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Added address on contract
  projects/ui/src/lib/footer/footer.component.scss
Due: stylelint --fix

Fix after testing setting window
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Update filters grant list
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix style and interface
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix project linting
  .github/linters/.stylelintrc.json
  .stylelintrc
  contract/grant.ride
  contract/origin-grant.ride
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/home-page/home-page.component.html
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/libs/src/lib/directives/reward.module.ts
  projects/services/src/lib/team/team.interface.ts
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/team/team.component.scss
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/tag/tag.component.scss
  resources/styles/const.scss
  resources/styles/mixins/elements/btn-container.scss
  resources/styles/mixins/elements/icon-logo.scss
  resources/styles/mixins/elements/modal.scss
  resources/styles/mixins/elements/text-title.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix specs
  projects/dapp/src/app/app.component.spec.ts
  projects/dapp/src/app/pages/about-page/about-page.component.spec.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.spec.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.spec.ts
  projects/dapp/src/app/pages/home-page/home-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/loading-page/loading-page.component.spec.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/services/src/lib/team/team.service.spec.ts
  projects/ui/src/lib/contract-menu/contract-menu.component.spec.ts
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/footer/footer.component.spec.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix about page on contracts
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.spec.ts
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/about-page/about-page.module.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/services/src/lib/link-content/link-content.module.ts
  projects/services/src/lib/link-content/link-content.pipe.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/dialog/dialog.component.html
  projects/ui/src/lib/dialog/dialog.component.scss
  projects/ui/src/lib/dialog/dialog.component.spec.ts
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/dialog/dialog.module.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

work
  projects/ui/src/lib/dialog/dialog.component.html
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm old modal
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modal/modal.component.html
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/modal/modal.component.ts
  projects/ui/src/lib/modal/modal.module.ts
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/apply/apply.component.scss
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/apply/apply.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add apply comp
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

transloco ok
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/apply/apply.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add html
  projects/ui/src/lib/dialog/dialog.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/apply/apply.component.scss
  projects/ui/src/lib/modals/apply/apply.component.ts
  resources/styles/mixins/elements/form.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

workgit add -Agit add -A
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/apply/apply.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

temp
  projects/dapp/src/app/app.module.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/services/src/lib/team/team.service.spec.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/contract-menu/contract-menu.component.spec.ts
  projects/ui/src/lib/dialog/dialog.component.spec.ts
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/team/team.component.spec.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/entity/team/team.module.ts
  projects/ui/src/lib/footer/footer.component.spec.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix pipe
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added variation on list grants
  contract/grant.ride
  contract/origin-grant.ride
  projects/dapp/src/app/pages/home-page/home-page.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.scss
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.scss
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.scss
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/interface.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add w3 modal
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/dialog/dialog.component.html
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.scss
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.spec.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add def modal
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

- С разными текстами на кнопке формы
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

- И иметь коллбек когда форма отправляется
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix modal
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix modal
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix modal
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added on variation for entity and refactoring contract service
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/about-page/about-page.provider.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.provider.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.provider.ts
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.scss
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/home-page/home-page.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/static/static.module.ts
  projects/services/src/lib/static/static.service.spec.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  resources/i18n/en.json
  resources/styles/mixins/elements/card.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

rm create-grant-page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.guard.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.provider.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add-reward
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.scss
  projects/ui/src/lib/modals/add-reward/add-reward.component.spec.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

rm add-reward page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page-routing.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.html
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.scss
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.spec.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.guard.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.provider.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix
