Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

fix hash algorithm
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fix hash algorithm
  resources/assets/icons/verify.svg
Due: none

fix hash algorithm
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

fix hash algorithm
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fix hash algorithm
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

lint & tests
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/hash/hash.component.spec.ts
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix parsing json in environments
  projects/dapp/src/environments/utils.ts
Due: eslint --fix --config ./.eslintrc.json

Check environment variables on develop server
  .github/workflows/deploy-web3.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/githublinter.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  Dockerfile
  angular.json
  package.json
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/environments/utils.ts
Due: eslint --fix --config ./.eslintrc.json

Fix grant list
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: none

new egg logo
  resources/assets/coins/duck_pixelated.svg
Due: none

add AddProposal
  contracts/token-votings.ride
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.html
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.scss
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.spec.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.module.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/modals.module.ts
  resources/i18n/en.json
  resources/styles/mixins/elements/btn-container.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

forwarded parameters
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.html
Due: eslint --fix --config ./.eslintrc.json

add hide and reset
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

fix header css
  projects/ui/src/lib/entity/header/header.component.scss
Due: stylelint --fix

add isVoteForTask$
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix release package
  .github/workflows/publish-latest.yml
  .github/workflows/publish-release.yml
Due: none

Delete condition on publish packages task
  .github/workflows/publish-latest.yml
  .github/workflows/publish-release.yml
Due: none

Show raw status
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/votings-contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
Due: eslint --fix --config ./.eslintrc.json

add reject()
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint & tests
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.spec.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.ts
  projects/ui/src/lib/modals/add-proposal/add-proposal.module.ts
Due: eslint --fix --config ./.eslintrc.json

add maxlength
  projects/ui/src/lib/modals/add-proposal/add-proposal.component.html
Due: none

added annotations
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/services/src/lib/static/static.service.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/services/src/lib/static/static.service.ts
Due: eslint --fix --config ./.eslintrc.json

add voted
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/header/header.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fixed voices visibility
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

smaller address icon in header; colored gray, blue on hover
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/assets/icons/copy-blue.svg
  resources/assets/icons/copy-gray.svg
Due: stylelint --fix

Added deploy contracts
  .github/workflows/deploy-contracts.yml
  contracts.deploy.json
  contracts/dao-membership.ride
  contracts/disruptive-grant.ride
  contracts/interhack-grant.ride
  contracts/structure-diagram.png
  contracts/web3-grant.ride
Due: none

Added actions for deploy contracts
  .github/workflows/deploy-contracts.yml
  contracts/develop.json
  contracts/disruptive-grant.ride
  contracts/interhack-grant.ride
  contracts/testing.json
  contracts/token-votings.ride
  contracts/web3-grant.ride
Due: none

updated documentation
  README.md
  example.env
Due: markdownlint --fix

Corrected the logo in the absence of a picture
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

https check, email link check
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

tickerID, entity at votings temporarily removed, link to waves explorer
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Update README.md
  README.md
Due: markdownlint --fix

Update MD
  README.md
Due: markdownlint --fix

add var
  README.md
  projects/dapp/src/environments/environment.ts
  sample.env
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

add to header
  projects/dapp/src/app/app.providers.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/header/header.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

show list
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.scss
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

show member
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix --config ./.eslintrc.json

add method voteForDAOMember
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
Due: eslint --fix --config ./.eslintrc.json

add modal add-member
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.html
  projects/dapp/src/app/pages/listing-page/daoMembership-template/daoMembership-template.component.ts
  projects/services/src/lib/contract/dao-membership-contract.service.ts
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.html
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.scss
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.component.ts
  projects/ui/src/lib/modals/dao-membership/add-member/add-member.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
