Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

добавил вывод score для disruptive в all-teams
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
Due: eslint --fix

добавил isShowTeamsBtn$ в disruptive
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --fix

вынес all-teams-btn в отдельный компонент
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.html
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.scss
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.module.ts
Due: eslint --fix, stylelint --fix

добавил языковые константы has_solution и rejected
  projects/ui/src/lib/statuses/statuses.component.html
  projects/ui/src/lib/statuses/statuses.module.ts
  resources/i18n/en.json
Due: eslint --fix

добавил скрытие команд с низким результатом в disruptive при process
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.ts
Due: eslint --fix

TASK: кнопка APPLY серая, если на аккаунте нет средств надо добавить подсказку о пополнении счета
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  resources/i18n/en.json
Due: eslint --fix

TASK:
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  resources/i18n/en.json
Due: eslint --fix

Описания не верные для Disruptive Grant:
  projects/services/src/lib/stepper/stepper.service.ts
  resources/i18n/en.json
Due: eslint --fix

TASK
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
Due: stylelint --fix

TASK
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/team/team.component.ts
Due: eslint --fix

landing page unfinished, guide page not styled
  package.json
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/guide-page/guide-page-routing.module.ts
  projects/dapp/src/app/pages/home-page/home-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page-routing.module.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/dapp/src/app/pages/landing-page/landing-page.component.spec.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.module.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
  resources/assets/icons/arr-right-white.svg
  resources/assets/icons/avatar/auth.svg
  resources/assets/icons/howToDAO_1.svg
  resources/assets/icons/howToDAO_2.svg
  resources/assets/icons/howToDAO_3.svg
  resources/assets/icons/howToDAO_4.svg
  resources/assets/icons/logo-dao.svg
  resources/assets/icons/social/arr-right-white.svg
  resources/assets/img/test-diagram-disruptive.png
  resources/assets/img/test-diagram-interhack.png
  resources/assets/img/test-diagram-web3.png
  resources/i18n/en.json
  resources/styles/const.scss
  resources/styles/container.scss
  resources/styles/mixins/typography.scss
Due: eslint --fix, stylelint --fix

landing page unfinished, guide page not styled
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/guide-page/guide-page-routing.module.ts
  projects/dapp/src/app/pages/guide-page/guide-page.component.html
  projects/dapp/src/app/pages/guide-page/guide-page.component.scss
  projects/dapp/src/app/pages/guide-page/guide-page.component.spec.ts
  projects/dapp/src/app/pages/guide-page/guide-page.component.ts
  projects/dapp/src/app/pages/guide-page/guide-page.module.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/dapp/src/app/pages/landing-page/landing-page.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.module.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/tabs/tabs.component.html
  projects/ui/src/lib/tabs/tabs.component.scss
  projects/ui/src/lib/tabs/tabs.component.spec.ts
  projects/ui/src/lib/tabs/tabs.component.ts
  projects/ui/src/lib/tabs/tabs.module.ts
  resources/i18n/en.json
  resources/styles/button.scss
  resources/styles/container.scss
Due: eslint --fix, stylelint --fix

Support. Added deploy each branch on heroku and documentation (#11)
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  heroku.config.js
Due: markdownlint --fix, eslint --fix

отсортировал список грнатов и поправил стиль
  projects/ui/src/lib/listing/functions.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  resources/styles/mixins/elements/card.scss
Due: eslint --fix, stylelint --fix

вывел can_be_completed для Interhack
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/listing/functions.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/tag/tag.component.html
  resources/i18n/en.json
Due: eslint --fix, stylelint --fix

добавил условие для disruptive
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/ui/src/lib/listing/functions.ts
Due: eslint --fix

и для web3
  projects/ui/src/lib/listing/functions.ts
Due: eslint --fix

исправил условие вывода ui-vote-for-task
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
Due: eslint --fix

TODO
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --fix

TODO
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/body/body.component.scss
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/listing/functions.ts
  resources/i18n/en.json
Due: eslint --fix, stylelint --fix

TODO
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: stylelint --fix

TODO
  projects/ui/src/lib/team/team.component.html
  resources/i18n/en.json
Due: none

TODO
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
Due: eslint --fix

landing, button icons animation, workflow diagrams
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/dapp/src/app/pages/landing-page/landing-page.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/link/link.component.html
  projects/ui/src/lib/entity/link/link.component.scss
  projects/ui/src/lib/entity/link/link.component.spec.ts
  projects/ui/src/lib/entity/link/link.component.ts
  projects/ui/src/lib/entity/link/link.module.ts
  projects/ui/src/lib/tabs/tabs.component.html
  projects/ui/src/lib/tabs/tabs.component.scss
  projects/ui/src/lib/tabs/tabs.component.spec.ts
  projects/ui/src/lib/tabs/tabs.component.ts
  projects/ui/src/lib/tabs/tabs.module.ts
  resources/assets/icons/howToDAO_rec_1.svg
  resources/assets/icons/howToDAO_rec_2.svg
  resources/assets/icons/howToDAO_rec_3.svg
  resources/assets/icons/howToDAO_rec_4.svg
  resources/assets/img/test_diagram_disruptive.png
  resources/assets/img/test_diagram_interhack.png
  resources/assets/img/test_diagram_web3.png
  resources/i18n/en.json
  resources/styles/button.scss
  resources/styles/container.scss
Due: eslint --fix, stylelint --fix

fix lint
  projects/dapp/src/app/pages/landing-page/landing-page.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/link/link.component.ts
Due: eslint --fix

TASK
  resources/i18n/en.json
Due: none

DAO owner → Secretarian
  resources/i18n/en.json
Due: none

ENABLE SUBMISSIONS → stop applications
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  resources/i18n/en.json
Due: eslint --fix

tablet style fixes, link component disabled
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/ui/src/lib/entity/link/link.component.html
Due: stylelint --fix

Fix deploy config
  .github/workflows/deploy.yml
Due: none

lint fix
  projects/dapp/src/app/pages/landing-page/landing-page.module.ts
Due: eslint --fix

добавил voting-square для интерхак
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  projects/ui/src/lib/voting-square/voting-square.component.html
  projects/ui/src/lib/voting-square/voting-square.component.scss
  projects/ui/src/lib/voting-square/voting-square.component.spec.ts
  projects/ui/src/lib/voting-square/voting-square.component.ts
  projects/ui/src/lib/voting-square/voting-square.module.ts
Due: eslint --fix, stylelint --fix

добавил voting-square для дизраптив
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/team/team.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: eslint --fix, stylelint --fix

Fix deploy config. Added environment for config params
  .github/workflows/deploy.yml
Due: none

Fix deploy config. Added working group environment
  .github/workflows/deploy.yml
Due: none

Fix command build project in Dockerfile
  Dockerfile
Due: none

err
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/flow-text/flow-text.component.html
  projects/ui/src/lib/flow-text/flow-text.component.scss
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/flow-text/flow-text.module.ts
Due: eslint --fix, stylelint --fix

Fix build with environments
  .github/workflows/deploy.yml
  Dockerfile
  README.md
Due: markdownlint --fix

добавил flow
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/flow-text/flow-text.component.html
  projects/ui/src/lib/flow-text/flow-text.component.scss
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/stepper/stepper.component.scss
  resources/i18n/en.json
Due: eslint --fix, stylelint --fix
