Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

fix header__entity
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
Due: stylelint --fix

add user icon in header
  resources/assets/icons/user.png
Due: none

add markdown.scss
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/body/body.component.scss
  projects/ui/src/lib/entity/body/body.component.spec.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/body/body.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/styles/index.scss
  resources/styles/markdown.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add ui-controls
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/header/header.component.scss
  resources/styles/markdown.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

move btn to ui-controls
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

header fix logout
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/assets/icons/avatar/auth.png
  resources/assets/icons/avatar/dao.png
  resources/assets/icons/avatar/master.png
  resources/assets/icons/avatar/wg.png
  resources/assets/icons/logout.svg
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix style
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

team start
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
  projects/ui/src/lib/entity/team/team.component.spec.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/entity/team/team.module.ts
  resources/assets/icons/link.svg
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

team
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
  projects/ui/src/lib/entity/team/team.component.ts
  resources/assets/icons/arr-down-red.svg
  resources/assets/icons/arr-down.svg
  resources/assets/icons/arr-up-blue.svg
  resources/assets/icons/arr-up.svg
  resources/assets/icons/winner.png
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

create-grant page
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/libs/src/lib/directives/reward.directive.ts
  resources/styles/mixins/container.scss
  resources/styles/mixins/elements/floating-label.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

need fix
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page-routing.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/libs/src/lib/directives/reward.module.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page-routing.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/libs/src/lib/directives/reward.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  resources/styles/mixins/container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modal/modal.component.html
  projects/ui/src/lib/modal/modal.component.ts
  resources/styles/mixins/container.scss
  resources/styles/mixins/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix test
  projects/dapp/src/app/pages/team-page/team-page.component.spec.ts
  projects/ui/src/lib/entity/body/body.component.spec.ts
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/entity/team/team.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix test
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/body/body.module.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/entity/team/team.module.ts
  projects/ui/src/lib/modal/modal.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix test
  projects/ui/src/lib/entity/entity.component.html
Due: none

fix test
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
Due: stylelint --fix

fix test
  angular.json
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
Due: stylelint --fix

fix test
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
Due: stylelint --fix

fix test
  angular.json
Due: none

fix header mob
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

fix header mob
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

fix header mob
  angular.json
Due: none

add mambers page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/members-page/members-page-routing.module.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add mambers page
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: none

add mambers page
  projects/dapp/src/app/pages/members-page/members-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add mambers page
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added contract switch
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added indents to the page about
  projects/dapp/src/app/pages/about-page/about-page.component.scss
Due: stylelint --fix

fix about page
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/tag/tag.component.html
  resources/i18n/en.json
Due: none

add sortByTeam
  package.json
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add sortByTeam
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/ui/src/lib/entity/team/team.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add sortByTeam
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add sortByTeam
  projects/ui/src/lib/footer/footer.component.html
Due: none

apply add 2 steps
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/footer/footer.component.html
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/btn-container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

apply add 2 steps
  projects/ui/src/lib/entity/entity.component.html
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/floating-label.scss
Due: stylelint --fix

isBalanceMoreCommission
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

isBalanceMoreCommission
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6
