Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

Update contract
  contracts/disruptive-grant.ride
Due: none

добавил условие вывода кнопки в disruptive isFinishApplicantsVoteBtn
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил метод getWinnerTeamId и исправил finishApplicantsVoting
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил teamsControls isApplyBtn в disruptive
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил условие isStartWorkBtn$
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил условие isAcceptWorkResultBtn$
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил скрытие / прозрачность / показ стрелочек в disruptive team
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

доработал isFinishVoteBtn$
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

поправил скрытие стрелочек
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

исправил тесты
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.spec.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

grant card style fix
  resources/styles/const.scss
  resources/styles/mixins/elements/card.scss
Due: stylelint --fix

grant card style fix
  package.json
  yarn.lock
Due: none

package.json updated
  package.json
Due: none

lint fix
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.spec.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update loading md files
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/link-content/link-content.service.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update yarn.lock file
  yarn.lock
Due: none

login button, logo replaced, grant cards
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.scss
  resources/assets/icons/arr-left-hover.svg
  resources/assets/icons/logo.svg
  resources/styles/button.scss
  resources/styles/container.scss
Due: stylelint --fix

grants card margin in mobile fixed
  projects/dapp/src/app/pages/home-page/home-page.component.scss
Due: stylelint --fix

footer social icons fixed
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.scss
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.scss
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
  resources/assets/icons/social/facebook-logo-outlined.svg
  resources/assets/icons/social/facebook-logo.svg
  resources/assets/icons/social/medium-logo-outlined.svg
  resources/assets/icons/social/medium-logo.svg
  resources/assets/icons/social/twitter-logo-outlined.svg
  resources/assets/icons/social/twitter-logo.svg
Due: stylelint --fix

README.md file updated
  README.md
Due: markdownlint --fix

footer icons hover
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  projects/ui/src/lib/footer/footer.component.scss
  resources/assets/icons/social/facebook-logo-hover.svg
  resources/assets/icons/social/facebook-logo-outlined.svg
  resources/assets/icons/social/medium-logo-hover.svg
  resources/assets/icons/social/medium-logo-outlined.svg
  resources/assets/icons/social/twitter-logo-hover.svg
  resources/assets/icons/social/twitter-logo-outlined.svg
  resources/assets/icons/social/twitter-logo.svg
Due: stylelint --fix

temp
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
  resources/assets/icons/social/facebook.svg
  resources/assets/icons/social/linkedin.svg
  resources/assets/icons/social/twitter.svg
  resources/styles/mixins/elements/btn.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

temp 2
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp 3
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/add-member/add-member.component.html
  projects/ui/src/lib/modals/add-member/add-member.component.scss
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/add-member/add-member.component.ts
  projects/ui/src/lib/modals/add-member/add-member.module.ts
  resources/i18n/en.json
  resources/styles/mixins/elements/btn-container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

DAO WA // Переработать страницу members
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.guard.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.module.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/add-member/add-member.component.ts
  projects/ui/src/lib/modals/add-member/add-member.module.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

hamburger menu icon, footer hover, back btn sticky
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/team/team.component.html
  resources/i18n/en.json
  resources/styles/button.scss
  resources/styles/container.scss
  resources/styles/layout.scss
Due: stylelint --fix

png icons replaced with svg
  projects/ui/src/lib/header/header.component.html
  resources/assets/icons/avatar/dao.svg
  resources/assets/icons/avatar/master.svg
  resources/assets/icons/avatar/wg.svg
  resources/assets/icons/social/linkedin-logo-hover.svg
  resources/assets/icons/social/linkedin-logo.svg
Due: none

installed protractor
  package.json
Due: none

align-items: start
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
Due: stylelint --fix

Update production config
  projects/dapp/src/environments/environment.prod.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

test
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
Due: stylelint --fix

Change alignment elements
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
Due: stylelint --fix

Delete private labels on Readme.md
  README.md
Due: markdownlint --fix

members title in en.json
  resources/i18n/en.json
Due: none

vote-for-task fix, add mat-icon service
  .stylelintrc
  projects/dapp/src/app/app.component.ts
  projects/services/src/lib/icon-service/icon-service.module.ts
  projects/services/src/lib/icon-service/icon-service.service.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.module.ts
  resources/assets/svg/icons/dislike.svg
  resources/assets/svg/icons/like.svg
  resources/i18n/en.json
  resources/styles/index.scss
  resources/styles/material-overlap/button/index.scss
  resources/styles/material-overlap/index.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix lint
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

PRODUCTION-2242 + fix lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  resources/styles/material-overlap/button/index.scss
  tslint.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix styles
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
Due: stylelint --fix

Style fix
  package.json
  projects/ui/src/lib/header/header.component.html
  resources/assets/icons/avatar/dao.svg
  resources/assets/icons/avatar/master.svg
  resources/assets/icons/avatar/wg.svg
  resources/assets/icons/social/linkedin-logo-hover.svg
  resources/assets/icons/social/linkedin-logo.svg
Due: none
