Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

PRODUCTION-1979 #transition-name PRODUCTION-1979 #time 2h #comment this is a test
  projects/ui/src/lib/entity/entity.component.html
Due: none

#time 1w 2d 4h 30m Total work logged
  projects/ui/src/lib/entity/entity.component.html
Due: none

PRODUCTION-1979 #transition-name PRODUCTION-1979 #comment this is a test
  projects/ui/src/lib/entity/entity.component.html
Due: none

PRODUCTION-1979 #time 1hPRODUCTION-1979 #any other command
  projects/ui/src/lib/entity/entity.component.html
Due: none

PRODUCTION-1979 #time 1h PRODUCTION-1979 #any other command
  projects/ui/src/lib/entity/entity.component.html
Due: none

added functionality for applying the grant
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm rateTask
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added contract, delete ActivatedRoute on entity component and update types
  contract/grant.ride
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix LoadingWrapper
  projects/ui/src/lib/listing/listing.providers.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix test
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/listing/listing.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added link parameter to the sent data
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change typs in providers
  projects/ui/src/lib/listing/listing.providers.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

detect voted grant
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add PopupService
  projects/services/src/lib/popup/popup.module.ts
  projects/services/src/lib/popup/popup.service.spec.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
  projects/ui/src/lib/layout/common-layout/common-layout.module.ts
  projects/ui/src/lib/popup/popup.component.html
  projects/ui/src/lib/popup/popup.component.scss
  projects/ui/src/lib/popup/popup.component.spec.ts
  projects/ui/src/lib/popup/popup.component.ts
  projects/ui/src/lib/popup/popup.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

use PopupService in ContractService err
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

app-master-setting-page addDAOMember and addGroupMember
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Update contract
  contract/grant.ride
Due: none

fix tests
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/popup/popup.component.spec.ts
  projects/ui/src/lib/tag/tag.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix tests
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.module.ts
  projects/ui/src/lib/popup/popup.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix grant status
  resources/styles/mixins/elements.scss
Due: stylelint --fix

fix grant status
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/layout/common-layout/common-layout.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/popup/popup.component.scss
  resources/i18n/en.json
  resources/styles/index.scss
  resources/styles/mixins/elements.scss
  resources/styles/mixins/index.scss
  resources/styles/variables.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

show teams
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/team/team.interface.ts
  projects/services/src/lib/team/team.service.spec.ts
  projects/services/src/lib/team/team.service.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

voteForTaskProposal change signature to "like" and "dislike" as second argument
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Linting files
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/team/team.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/team-page/team-page-routing.module.ts
  projects/dapp/src/app/pages/team-page/team-page.component.html
  projects/dapp/src/app/pages/team-page/team-page.component.scss
  projects/dapp/src/app/pages/team-page/team-page.component.spec.ts
  projects/dapp/src/app/pages/team-page/team-page.component.ts
  projects/dapp/src/app/pages/team-page/team-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/listing/listing.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix popup
  projects/services/src/lib/popup/popup.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/popup/popup.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

identified the voters and hid controls for them
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix problem in team identifier on vote hash
  contract/grant.ride
Due: none

clear controls
  .github/linters/.stylelintrc.json
  .stylelintrc
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/team/team.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

clear controls
  projects/dapp/src/app/pages/team-page/team-page-routing.module.ts
  projects/dapp/src/app/pages/team-page/team-page.component.ts
  projects/services/src/lib/popup/popup.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear controls
  projects/dapp/src/app/pages/team-page/team-page.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix tests
  projects/dapp/src/app/pages/team-page/team-page.component.spec.ts
  projects/services/src/lib/team/team.service.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm unknown
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added tag all
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/tag/tag.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6
