Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

Fixed bug with loading md
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change wh ava icon
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  resources/assets/icons/avatar/wg.png
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Revert request for raw file
  projects/services/src/lib/link-content/link-content.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix MasterSettingPageComponent
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change contact addresses
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/ui/src/lib/listing/card/card.component.html
  projects/ui/src/lib/listing/card/card.component.scss
  projects/ui/src/lib/listing/card/card.component.spec.ts
  projects/ui/src/lib/listing/card/card.component.ts
  projects/ui/src/lib/listing/card/card.module.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.component.ts
  resources/styles/mixins/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

temp
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/listing/card/card.component.html
  projects/ui/src/lib/listing/card/card.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/ui/src/lib/listing/card/card.component.html
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm ui-sub-list
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

rn ui-sub-list
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rn ui-sub-list
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add grantsVariationsList
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix class name
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/ui/src/lib/listing/listing.component.html
Due: none

fix container style
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  resources/styles/container.scss
  resources/styles/mixins/container.scss
  resources/styles/mixins/elements/card.scss
Due: stylelint --fix

add-reward-page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page-routing.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.html
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.scss
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.spec.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.guard.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix test
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix isBalanceMoreCommission$
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix isBalanceMoreCommission
  projects/dapp/src/app/pages/add-reward-page/add-reward-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix addReward
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  resources/styles/markdown.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

return origin text size
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  resources/styles/container.scss
Due: stylelint --fix

fix modal
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/modal/modal.component.scss
  resources/i18n/en.json
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/btn-container.scss
  resources/styles/mixins/elements/modal.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix test
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix font size
  projects/dapp/src/app/pages/about-page/about-page.component.html
  resources/styles/index.scss
Due: stylelint --fix

fix font size
  resources/styles/index.scss
  resources/styles/markdown.scss
Due: stylelint --fix

add translate
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.module.ts
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.html
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/listing/listing.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

transloco
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/add-reward-page/add-reward-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/dapp/src/app/pages/team-page/team-page.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

transloco
  projects/dapp/src/app/pages/about-page/about-page.component.spec.ts
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

removed unused pages
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/app.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.guard.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page-routing.module.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.html
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.scss
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.spec.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.module.ts
  projects/dapp/src/app/pages/team-page/team-page-routing.module.ts
  projects/dapp/src/app/pages/team-page/team-page.component.html
  projects/dapp/src/app/pages/team-page/team-page.component.scss
  projects/dapp/src/app/pages/team-page/team-page.component.spec.ts
  projects/dapp/src/app/pages/team-page/team-page.component.ts
  projects/dapp/src/app/pages/team-page/team-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix header, save pseudo session
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

"grant" -> "grants"
  resources/i18n/en.json
Due: none

text finalized
  resources/i18n/en.json
Due: none

fix
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/team/team.component.scss
  resources/assets/icons/winner.png
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix style
  projects/ui/src/lib/footer/footer.component.scss
Due: stylelint --fix
