Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/score-list/score-list.component.ts
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json

roles description, diagrams updated
  resources/assets/img/diagram_disruptive_2x.png
  resources/assets/img/diagram_interhack_2x.png
  resources/assets/img/diagram_web3_2x.png
  resources/i18n/en.json
Due: none

hid Apply in disruptive after starting work
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/score-list/score-list.component.html
Due: eslint --fix --config ./.eslintrc.json

hid Apply in interhack after starting work
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --fix --config ./.eslintrc.json

DAO Members renamed, github links, router links to grants. About-page layout
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  resources/i18n/en.json
Due: stylelint --fix

roles description update
  resources/i18n/en.json
Due: none

rm team and solution
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.spec.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

refactoring
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/team/team.interface.ts
  projects/services/src/lib/team/team.service.spec.ts
  projects/services/src/lib/team/team.service.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix --config ./.eslintrc.json

fix style
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  projects/ui/src/lib/statuses/statuses.component.scss
Due: stylelint --fix

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --fix --config ./.eslintrc.json

fix
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
Due: eslint --fix --config ./.eslintrc.json

twitter, telegram links in footer
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

telegram links fix
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --fix --config ./.eslintrc.json

href fix
  projects/ui/src/lib/footer/footer.component.html
Due: none

fix
  projects/ui/src/lib/footer/footer.component.html
Due: none

texts grammar
  resources/i18n/en.json
Due: none

added team selection when making a decision
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.html
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.scss
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.spec.ts
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.ts
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.module.ts
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.component.html
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.component.scss
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.component.spec.ts
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.component.ts
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.module.ts
  projects/ui/src/lib/modals/modals.module.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

merge
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

rm cl
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
Due: eslint --fix --config ./.eslintrc.json

init LinkChecker
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/services/src/lib/link-checker/link-checker.interface.ts
  projects/services/src/lib/link-checker/link-checker.ts
Due: eslint --fix --config ./.eslintrc.json

init
  README.md
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/static/static.model.ts
  sample.env
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

init
  projects/ui/src/lib/header/header.component.html
Due: none

different labels
  resources/i18n/en.json
Due: none

disruptive - dao member - team_chosen label fixed
  resources/i18n/en.json
Due: none

Added text options on grant list
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/text-options/text-options.interface.ts
  projects/services/src/lib/text-options/text-options.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Added new tab with votings
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/special-votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/special-votings-template/special-votings-template.component.html
  projects/dapp/src/app/pages/entity-page/special-votings-template/special-votings-template.component.scss
  projects/dapp/src/app/pages/entity-page/special-votings-template/special-votings-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/special-votings-template/special-votings-template.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/header/header.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Fix votings
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/static/static.service.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

votings png, title replaced
  projects/services/src/lib/static/static.service.ts
  resources/assets/img/special-votings-type-preview.png
  resources/assets/img/special-votings-type.png
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Changed order of header menu - Votings; added to landing
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/services/src/lib/static/static.service.ts
  resources/assets/img/special-votings-type-landing.png
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Update sample.env and information about configure server
  README.md
  sample.env
Due: markdownlint --fix

Update deploy configs
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

Show more link move to environments
  README.md
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/environments/environment.ts
  sample.env
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

Fix project config
  projects/dapp/src/environments/environment.prod.ts
  sample.env
Due: eslint --fix --config ./.eslintrc.json

Added conditions on tab in navigation
  projects/ui/src/lib/header/header.component.html
Due: none

Update dependencies for tests and fix lint
  package.json
  projects/services/src/lib/static/static.service.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

init
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
Due: none

Fix tests
  package.json
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.spec.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

Update material
  package.json
  yarn.lock
Due: none

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
