Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Added pages, кщгештп and default layout on pages
  angular.json
  package.json
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/app.component.html
  projects/dapp/src/app/app.component.spec.ts
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/about-page/about-page-routing.module.ts
  projects/dapp/src/app/pages/application-page/application-page-routing.module.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page-routing.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page-routing.module.ts
  projects/dapp/src/app/pages/listing-page/listing-page-routing.module.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page-routing.module.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page-routing.module.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.html
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.scss
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.spec.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.module.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/dev-grid/index.ts
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.scss
  projects/ui/src/lib/footer/footer.component.spec.ts
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/footer/footer.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/header/header.component.spec.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
  projects/ui/src/lib/layout/common-layout/common-layout.component.scss
  projects/ui/src/lib/layout/common-layout/common-layout.component.spec.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.ts
  projects/ui/src/lib/layout/common-layout/common-layout.interface.ts
  projects/ui/src/lib/layout/common-layout/common-layout.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.provider.ts
  projects/ui/src/lib/layout/common-layout/index.ts
  projects/ui/tslint.json
  yarn.lock
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Added services, signer and testing output contract data
  .github/linters/.eslintrc.yml
  package.json
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/application-page/application-page.component.ts
  projects/dapp/src/app/pages/create-entity-page/create-entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.ts
  projects/dapp/src/app/pages/setting-page/setting-page.component.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.module.ts
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.module.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/header/header.component.ts
  tsconfig.app.json
  yarn.lock
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change test contract address
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update types contract data
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update README.md
  README.md
Due: markdownlint --fix

Create simple 404 page and signup / logout functions on header
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.html
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.scss
  projects/dapp/src/app/pages/not-found-page/not-found-page.module.ts
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/header/header.component.ts
  resources/i18n/en.json
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Added listing and entity page
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/listing-page/listing-page-routing.module.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.component.spec.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.module.ts
  projects/ui/src/lib/listing/listing.providers.ts
  resources/i18n/en.json
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix tests
  angular.json
  package.json
  projects/dapp/src/app/pages/entity-page/entity-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.spec.ts
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/ui/src/lib/header/header.component.spec.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.spec.ts
  projects/ui/src/lib/listing/listing.component.spec.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add style var
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  resources/i18n/en.json
  resources/styles/variables.scss
Due: stylelint --fix

add style var
  projects/ui/src/lib/listing/listing.component.scss
Due: stylelint --fix

add mixin
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.module.ts
  resources/i18n/en.json
  resources/styles/mixins/layout.scss
  resources/styles/variables.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add CollapseContainerComponent
  angular.json
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/collapse-container/collapse-container.component.html
  projects/ui/src/lib/collapse-container/collapse-container.component.scss
  projects/ui/src/lib/collapse-container/collapse-container.component.ts
  projects/ui/src/lib/collapse-container/collapse-container.module.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.module.ts
  resources/styles/mixins/layout.scss
  resources/styles/variables.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add header style
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

add header style
  projects/ui/src/lib/header/header.component.html
Due: none

add style
  projects/ui/src/lib/collapse-container/collapse-container.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  resources/styles/mixins/layout.scss
  resources/styles/variables.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add tag module
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/collapse-container/collapse-container.component.html
  projects/ui/src/lib/collapse-container/collapse-container.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.module.ts
  projects/ui/src/lib/tag/tag.component.html
  projects/ui/src/lib/tag/tag.component.scss
  projects/ui/src/lib/tag/tag.component.ts
  projects/ui/src/lib/tag/tag.module.ts
  resources/styles/mixins/layout.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add btn style
  projects/ui/src/lib/collapse-container/collapse-container.component.html
  projects/ui/src/lib/listing/listing.component.html
  resources/styles/elements.scss
  resources/styles/index.scss
Due: stylelint --fix

add applay grant page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/collapse-container/collapse-container.component.html
  projects/ui/src/lib/collapse-container/collapse-container.component.scss
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/tag/tag.component.scss
  resources/styles/elements.scss
  resources/styles/mixins/layout.scss
  resources/styles/variables.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

try push
  angular.json
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/ui/src/lib/tag/tag.component.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

try push
  projects/ui/src/lib/header/header.component.html
Due: none

Fix import in signer service
  projects/services/src/lib/signer/signer.service.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added deploy with github actions
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  Procfile
  angular.json
  heroku.config.js
  package.json
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm outline from btn
  resources/styles/elements.scss
Due: stylelint --fix

Update angular-cli dependency
  package.json
  yarn.lock
Due: none

Update angular/material dependency
  package.json
  yarn.lock
Due: none

Update angular/core dependency
  package.json
  yarn.lock
Due: none

Disable build optimizer in config. In this version angular build is not working on server. Need a test dependencies
  angular.json
Due: none

Added pm2 to dependencies
  package.json
  yarn.lock
Due: none

Fix deploy config
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

Change production contract address
  projects/dapp/src/environments/environment.prod.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add card header style
  .github/linters/.stylelintrc.json
  projects/ui/src/lib/listing/listing.component.html
  resources/styles/elements.scss
Due: stylelint --fix

add card header style
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.module.ts
  resources/styles/elements.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add style: entity page
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  resources/styles/elements.scss
Due: stylelint --fix

Fix link to waves.exchange in testnet
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add back arr
  projects/dapp/src/app/app.module.ts
  projects/ui/src/lib/collapse-container/collapse-container.component.html
  projects/ui/src/lib/collapse-container/collapse-container.component.scss
  projects/ui/src/lib/collapse-container/collapse-container.component.ts
  projects/ui/src/lib/collapse-container/collapse-container.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.module.ts
  resources/assets/icons/back.svg
  resources/styles/variables.scss
Due: standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add back arr
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

Path conditions:
  markdownlint --fix: any of: *.md
  standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
