Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

clear
  projects/ui/src/lib/flow-text/flow-text.component.ts
Due: eslint --fix

Fix build with environments (#13)
  .github/workflows/deploy.yml
  Dockerfile
  README.md
Due: markdownlint --fix

PRODUCTION-2286 tablet style fixes, link component disabled
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
Due: stylelint --fix

DAO Owner --> DAO Manager (everywhere)
  contracts/dao-membership.ride
  contracts/disruptive-grant.ride
  projects/dapp/src/app/pages/guide-page/guide-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  resources/i18n/en.json
Due: eslint --fix

Fix tests
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.html
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
Due: eslint --fix

Landing correction
  contracts/dao-membership.ride
  contracts/disruptive-grant.ride
  projects/dapp/src/app/pages/guide-page/guide-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  resources/i18n/en.json
Due: eslint --fix, stylelint --fix

lint
  projects/dapp/src/app/pages/all-teams-page/all-teams-page-routing.module.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page-routing.providers.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.spec.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.module.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.module.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/flow-text/flow-text.module.ts
  projects/ui/src/lib/listing/functions.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/statuses/statuses.component.spec.ts
  projects/ui/src/lib/statuses/statuses.component.ts
  projects/ui/src/lib/statuses/statuses.module.ts
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/team/team.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  projects/ui/src/lib/voting-square/voting-square.component.spec.ts
  projects/ui/src/lib/voting-square/voting-square.component.ts
  projects/ui/src/lib/voting-square/voting-square.module.ts
Due: eslint --fix

lint paramMap
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.interface.ts
Due: eslint --fix

lint paramMap
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.interface.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
Due: eslint --fix

l
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.interface.ts
  projects/services/src/interface.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.interface.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix

fix lint and tests
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.spec.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.spec.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/flow-text/flow-text.component.spec.ts
  projects/ui/src/lib/listing/functions.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix

fix lint conf
  .eslintrc.json
  projects/dapp/.eslintrc.json
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/libs/.eslintrc.json
  projects/services/.eslintrc.json
  projects/ui/.eslintrc.json
Due: eslint --fix

lint
  projects/dapp/.eslintrc.json
  projects/libs/.eslintrc.json
  projects/services/.eslintrc.json
  projects/ui/.eslintrc.json
Due: none

Update deploy config
  Dockerfile
  package.json
Due: none

Change diagrams on landing
  resources/assets/img/test-diagram-disruptive.png
  resources/assets/img/test-diagram-interhack.png
  resources/assets/img/test-diagram-web3.png
  resources/assets/img/test_diagram_disruptive.png
  resources/assets/img/test_diagram_interhack.png
  resources/assets/img/test_diagram_web3.png
Due: none

Update and refactoring listing grants
  .eslintrc.json
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/listing-page/listing-page.providers.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/all-teams-btn/all-teams-btn.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/listing/functions.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/i18n/en.json
  resources/styles/mixins/elements/card.scss
Due: eslint --fix, stylelint --fix

DAO WA // Попап голосования за грант не появляется если страницу перезагрузить на гранте
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix

PRODUCTION-2291, PRODUCTION-2295
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  projects/ui/src/lib/modals/add-member/add-member.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.html
  resources/i18n/en.json
  resources/styles/button.scss
Due: stylelint --fix

DAO WA // Дотюнить элемент скрывания контента
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/body/body.component.scss
Due: stylelint --fix

Fix modals on member pages
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/dialog/dialog.module.ts
  projects/ui/src/lib/modals/add-member/add-member.component.ts
  projects/ui/src/lib/modals/modals.module.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
Due: eslint --fix

Fix modals on member pages
  projects/ui/src/lib/dialog/dialog.module.ts
  projects/ui/src/lib/modals/modals.module.ts
Due: eslint --fix

restored lost stepper texts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  resources/i18n/en.json
Due: eslint --fix

fix error calling modal dialog on members page on cold start
  projects/dapp/src/app/pages/members-page/members-page.module.ts
Due: eslint --fix

card hovers fixed, button naming fixed
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  projects/ui/src/lib/modals/add-member/add-member.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.html
  resources/i18n/en.json
  resources/styles/button.scss
Due: stylelint --fix

made the standard size of all modals
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
Due: eslint --fix

removed modal window styles
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.scss
  projects/ui/src/lib/modals/apply/apply.component.scss
Due: eslint --fix, stylelint --fix

Made the mobile navigation close when navigating to the page
  projects/ui/src/lib/header/header.component.html
Due: none

removed the redirect to the home page when close menu
  projects/ui/src/lib/header/header.component.html
Due: none

breakpoints fixed in footer, container, listing and stepper.
  projects/ui/src/lib/footer/footer.component.scss
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/stepper/stepper.component.scss
  resources/styles/container.scss
Due: stylelint --fix

Correct the layout of commands and solutions in the interhack
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/voting-square/voting-square.component.html
Due: eslint --fix

Added labels in list grants
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/i18n/en.json
  resources/styles/mixins/elements/card.scss
Due: eslint --fix, stylelint --fix

Linting files
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix

Delete test output
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: none

fixed active buttons style, changed "request grant" to "apply for grant"
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  projects/ui/src/lib/modals/add-member/add-member.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.html
  resources/i18n/en.json
  resources/styles/button.scss
Due: stylelint --fix

lint fix
  projects/dapp/src/app/pages/members-page/members-page.module.ts
Due: eslint --fix

added and used sortBySolutions
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
Due: eslint --fix

In the interhack, the kemand who was set minus one during the selection did not go to the sub-list. Only those who passed the selection with a positive result should remain on the list.
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --fix, stylelint --fix
