Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix --config ./.eslintrc.json"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

add OnDestroy
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

add getEntityData
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

fix getEntityData
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/entity-page/functions.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
Due: eslint --fix --config ./.eslintrc.json

logo overlay effect, markdown: h1, h2, h3, img paddings
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  resources/assets/icons/waves-square.svg
  resources/styles/markdown.scss
Due: stylelint --fix

mainnet badge adjusted for mobile
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

add tests for reward
  projects/ui/src/lib/modals/add-reward/add-reward.component.spec.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
Due: eslint --fix --config ./.eslintrc.json

copy user address to clipboard
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fix reward
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.scss
  projects/ui/src/lib/modals/add-reward/add-reward.component.spec.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.interface.ts
  projects/ui/src/lib/modals/add-reward/add-reward.module.ts
  resources/i18n/en.json
  resources/styles/button.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

tap removed
  projects/ui/src/lib/header/header.component.ts
Due: eslint --fix --config ./.eslintrc.json

Update votings-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

tests started
  package.json
  projects/dapp/e2e/protractor.conf.js
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/e2e/src/app.po.ts
  projects/dapp/e2e/tsconfig.json
  projects/ui/src/lib/header/header.component.html
Due: eslint --fix --config ./.eslintrc.json

Created a hash generation component and started integrating it
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/functions.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.interface.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.module.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Created a hash generation component and started integrating it
  projects/services/src/lib/hash/hash.module.ts
  projects/services/src/lib/hash/hash.service.spec.ts
  projects/services/src/lib/hash/hash.service.ts
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.spec.ts
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/hash/hash.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add hash to score-list
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json

add hash to score-list web3
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
Due: eslint --fix --config ./.eslintrc.json

add hash to header web3
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

add hash to header interhack
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

8 tests created
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/e2e/src/app.po.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

tests rearrangement, +2 more tests
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/e2e/src/app.po.ts
  projects/dapp/e2e/src/header.e2e-spec.ts
  projects/dapp/e2e/src/header.po.ts
  projects/dapp/e2e/src/landing-page.e2e-spec.ts
  projects/dapp/e2e/src/landing-page.po.ts
Due: eslint --fix --config ./.eslintrc.json

add hash to interhack
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
Due: eslint --fix --config ./.eslintrc.json

add validURL()
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/hash/hash.service.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/hash/hash.module.ts
  projects/services/src/lib/hash/hash.service.spec.ts
  projects/services/src/lib/hash/hash.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/hash/hash.component.spec.ts
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/hash/hash.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.module.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json

add btn reset hash
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/hash/hash.service.spec.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
Due: eslint --fix --config ./.eslintrc.json

tests
  projects/ui/src/lib/entity/entity.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

add hide tag
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/tag/tag.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

lint&test
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix --config ./.eslintrc.json

unfinished test11
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/e2e/src/header.e2e-spec.ts
  projects/dapp/e2e/src/header.po.ts
Due: eslint --fix --config ./.eslintrc.json

Fix link to contract information on voting page
  .github/workflows/e2e.yml
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

tests rearranged
  projects/dapp/e2e/src/app.e2e-spec.ts
  projects/dapp/e2e/src/header.e2e-spec.ts
  projects/dapp/e2e/src/landing-page.e2e-spec.ts
Due: eslint --fix --config ./.eslintrc.json

fix linter
  projects/dapp/e2e/src/app.e2e-spec.ts
Due: eslint --fix --config ./.eslintrc.json

fixed copy tooltip in header
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/assets/icons/copy.svg
Due: stylelint --fix

Update chrome driver
  .github/workflows/e2e.yml
  package.json
  projects/dapp/e2e/protractor.conf.js
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

fix sonarqube && tests && lint
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: eslint --fix --config ./.eslintrc.json

test
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
Due: eslint --fix --config ./.eslintrc.json

test
  .github/workflows/e2e.yml
Due: none

return e2e.yaml
  .github/workflows/e2e.yml
Due: none
