Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

fix
  projects/libs/src/lib/pipes/route-path.pipe.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  yarn.lock
Due: eslint --fix

fix
  package.json
Due: none

fix text bugs
  projects/services/src/lib/contract/disruptive-contract.service.ts
  resources/assets/img/disruptive-type-landing.png
  resources/assets/img/interhack-type-landing.png
  resources/assets/img/web3-type-landing.png
  resources/i18n/en.json
Due: eslint --fix

добавил stepper v2
  projects/ui/src/lib/stepper/stepper.component.html
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

en.json translated to Eng
  resources/i18n/en.json
Due: none

Update message
  resources/i18n/en.json
Due: none

поправил после обсуждения
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

поправил на мобильном при последнем шаге
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

Update merged files
  projects/ui/src/lib/listing/listing.component.ts
  yarn.lock
Due: eslint --fix

Update material
  package.json
  yarn.lock
Due: none

Update angular cli
  package.json
  yarn.lock
Due: none

Update angular core
  package.json
  yarn.lock
Due: none

увеличил отступ
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

fix
  projects/dapp/src/app/pages/listing-page/listing-page-routing.module.ts
Due: eslint --fix

Linting ui components
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.spec.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.spec.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.spec.ts
Due: eslint --fix

Linting libs, services, dapp
  projects/dapp/src/app/app.component.ts
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/home-page/home-page.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/app/transloco/transloco-root.module.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/libs/src/lib/pipes/route-path.pipe.ts
  projects/libs/src/lib/pipes/routes.lib.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/.eslintrc.json
Due: eslint --fix

Fix untyped common decorator
  projects/libs/src/lib/decorators/common.decorator.ts
Due: eslint --fix

Update protractor
  package.json
  yarn.lock
Due: none

Update husky
  yarn.lock
Due: none

Fix linter config
  .eslintrc.json
  package.json
  projects/ui/.eslintrc.json
  yarn.lock
Due: none

Fix linter warning
  projects/dapp/src/app/pages/listing-page/listing-page-routing.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix

добавил статусы к командам и решениям
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/statuses/statuses.component.html
  projects/ui/src/lib/statuses/statuses.component.scss
  projects/ui/src/lib/statuses/statuses.component.spec.ts
  projects/ui/src/lib/statuses/statuses.component.ts
  projects/ui/src/lib/statuses/statuses.module.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/team/team.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
Due: eslint --fix, stylelint --fix

Заменил текст на About solution
  resources/i18n/en.json
Due: none

Update listing.component.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix

Landing page (#9)
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
  resources/i18n/en.json
  resources/styles/mixins/elements/card.scss
Due: eslint --fix, stylelint --fix

поправил положение ссылок
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: stylelint --fix

Update web3.0 grant in mind map
  mindmap.mmd
  package.json
  projects/dapp/e2e/src/app.po.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --fix

Mindmap (#10)
  mindmap.mmd
  package.json
  projects/dapp/e2e/src/app.po.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --fix

добавил список failedTeams$
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix

добавил кнопку SEE ALL TEAMS
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.scss
  resources/i18n/en.json
  resources/styles/button.scss
Due: stylelint --fix

исправил условия вывода
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
Due: none

Updating project documentation
  README.md
Due: markdownlint --fix

добавил страницу AllTeamsPageComponent
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page-routing.module.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.scss
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.spec.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/environments/environment.ts
Due: eslint --fix, stylelint --fix

добавил базовый стиль и блоки
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.scss
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.module.ts
Due: eslint --fix, stylelint --fix

добавил ENTITY_PAGE_PROVIDERS
  projects/dapp/src/app/pages/all-teams-page/all-teams-page-routing.providers.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/services/src/lib/contract/contract.model.ts
  resources/i18n/en.json
Due: eslint --fix

добавил grantUrl$
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
Due: eslint --fix

all-teams готово для тестирования
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.scss
  resources/i18n/en.json
Due: stylelint --fix

Added deploy each branch on heroku
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  heroku.config.js
Due: eslint --fix

добавил ссылку со страницы гранта на все команды
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix
