Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

add i18n
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add login/logout
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add login/logout
  projects/ui/src/lib/entity/entity.component.html
Due: none

Update grant and signature contract methods
  contract/origin-grant.ride
Due: none

logout navigate /
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add about and favicon
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/favicon.ico
  projects/dapp/src/index.html
  projects/services/src/lib/signer/signer.service.ts
  resources/styles/mixins/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix tests
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/team/team.service.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix tests
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/ui/src/lib/listing/listing.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add mask and fix
  package.json
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  resources/i18n/en.json
  yarn.lock
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added contract switching
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/header/header.component.ts
  resources/i18n/en.json
  tsconfig.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added contract switching
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added contract switching
  projects/ui/src/lib/footer/footer.component.spec.ts
  projects/ui/src/lib/footer/footer.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/tag/tag.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update contract
  contract/grant.ride
Due: none

get content from GH
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/link-content/link-content.interface.ts
  projects/services/src/lib/link-content/link-content.service.spec.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add markdown parser
  package.json
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  yarn.lock
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add markdown parser main
  projects/services/src/lib/link-content/link-content.interface.ts
  projects/services/src/lib/link-content/link-content.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

test
  angular.json
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/entity.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix md
  projects/services/src/lib/link-content/link-content.interface.ts
  projects/services/src/lib/link-content/link-content.service.spec.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/entity/entity.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix md
  .eslintrc
  projects/dapp/src/app/app.module.ts
  projects/dapp/tslint.json
  projects/libs/tslint.json
  projects/services/src/lib/link-content/link-content.interface.ts
  projects/services/src/lib/link-content/link-content.service.spec.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/tslint.json
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/tslint.json
  tslint.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix md
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
Due: stylelint --fix

fix md
  .stylelintrc
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/layout/common-layout/common-layout.component.scss
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/popup/popup.component.scss
  projects/ui/src/lib/tag/tag.component.scss
  resources/styles/const.scss
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/btn-container.scss
  resources/styles/mixins/elements/form.scss
  resources/styles/mixins/elements/icon-logo.scss
  resources/styles/mixins/elements/text-title.scss
  resources/styles/variables.scss
Due: stylelint --fix

fix md
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/ui/src/lib/listing/listing.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix md
  projects/dapp/src/app/pages/entity-page/entity-page.component.scss
Due: stylelint --fix

fix md
  projects/ui/src/lib/entity/entity.component.scss
Due: stylelint --fix

fix LinkContentService
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix LinkContentService
  projects/services/src/lib/link-content/link-content.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix reward input
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/services/src/lib/link-content/link-content.service.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix reward input
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add css const
  resources/styles/const.scss
Due: stylelint --fix

header new style
  projects/dapp/src/app/app.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/assets/icons/arr-right.svg
  resources/assets/icons/logo.png
  resources/i18n/en.json
  resources/styles/variables.scss
Due: stylelint --fix

header new mob style
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

add grant variation style
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

new tag style
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/tag/tag.component.scss
Due: stylelint --fix

fix list style
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  resources/assets/img/bg-active-card.png
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/icon-logo.scss
Due: stylelint --fix

entity add back btn
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  resources/assets/icons/arr-left.svg
Due: stylelint --fix

fix
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix
