Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

Update and testing disruptive grant
  contracts/disruptive-grant.ride
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
Due: none

Update web3 grant
  contracts/web3-grant.ride
Due: none

Update contracts
  contracts/disruptive-grant.ride
  contracts/interhack-grant.ride
Due: none

dApp // В flow (stepper) прошедшие шаги должны быть бледнее. Это пройденные этапы и должны отличаться от тех которые еще будут в будущем
  projects/ui/src/lib/stepper/stepper.component.html
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

dApp // При logout вылезает сообщение Login: пусто
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Формат вывода reward разный. Хотелось бы привести к одному виду
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Формат вывода reward разный. Хотелось бы привести к одному виду
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // В stepper шаг "The work has begun", должен начаться после того как команда нажала на start work
  projects/services/src/lib/stepper/stepper.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Почему в шаблоне web3 гранта вызывается севис this.disruptiveContractService?
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // После нажатия на rejected. Кнопку при статусе rejected убираем
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Disruptive grant // Перенести кнопку "start work" в заголовок гранта в активном виде (синяя кнопка)
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/ui/src/lib/entity/header/header.component.scss
Due: stylelint --fix

lint and tests
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/stepper/stepper.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

sonar
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
Due: none

fix stepper
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/stepper/stepper.component.html
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix linter warnings
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added label for enable submission function
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  resources/i18n/en.json
Due: none

temp ui-teams-and-solutions
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.spec.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

temp ui-teams-and-solutions
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.scss
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.spec.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

temp ui-teams-and-solutions
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

acceptWorkResult add winnerIdentifier
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added conditions to buttons
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add disabled-team
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

- скорректировал работу степера с новым названием статуса - поправил условия отображения блока голосования при смене профиля
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

добавил затемнение стрелочек на командах за которые был голос
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/static/static.model.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix interhack contract
  contracts/interhack-grant.ride
Due: none

сделал неактивными стрелочки после голосования за решение
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Скрыл кнопку apply после подачи заявки
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Заблокировал возможность повторной подачи решения от одной команды
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл кнопку Enable submissions когда нет команд
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл кнопку Enable submissions если нет хотя бы одного голоса за команду
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл Stop submissions до наличия хотя бы одного голоса
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл Accept work result если нет голоса
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл блок команд когда статус rejected и нет команд
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

refactoring
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

исправил условие isShowSolutionControls
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

скрыл stepper про rejected статусе
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
Due: none

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.module.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: none
