Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

association board added to landing page
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Fix sorting list and combination important grant with other
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Fix error in output entity page
  projects/ui/src/lib/team/team.component.html
Due: none

added a check for the same result for teams
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --fix --config ./.eslintrc.json

returned text winner
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: stylelint --fix

Fixed reward formatting
  projects/libs/src/lib/directives/reward.directive.ts
Due: eslint --fix --config ./.eslintrc.json

association board icon
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  resources/assets/icons/avatar/board.svg
Due: none

returned texts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --fix --config ./.eslintrc.json

disabled the price formatting directive
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
Due: none

Change messages on listing
  resources/i18n/en.json
Due: none

lint
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.module.ts
Due: eslint --fix --config ./.eslintrc.json

add text
  projects/ui/src/lib/flow-text/flow-text.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --fix --config ./.eslintrc.json

fix tests
  projects/ui/src/lib/voting-square/voting-square.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

added ui-score-list and used on all-teams-page
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.scss
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.module.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  projects/ui/src/lib/score-list/score-list.component.spec.ts
  projects/ui/src/lib/score-list/score-list.component.ts
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add SortByScorePipe
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.html
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-score.pipe.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json

Fix label
  resources/i18n/en.json
Due: none

Update en.json
  resources/i18n/en.json
Due: none

ui-score-list add style
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  projects/ui/src/lib/statuses/statuses.component.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

replaced text vote with score
  projects/ui/src/lib/voting-square/voting-square.component.html
  projects/ui/src/lib/voting-square/voting-square.component.scss
  resources/i18n/en.json
Due: stylelint --fix

added attribute title
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

when voting, increase the size of the digit (in voting mode)
  projects/ui/src/lib/voting-square/voting-square.component.html
  projects/ui/src/lib/voting-square/voting-square.component.scss
Due: stylelint --fix

add command sorting
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --fix --config ./.eslintrc.json

add tag approve
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/statuses/statuses.component.html
  projects/ui/src/lib/statuses/statuses.component.scss
  projects/ui/src/lib/statuses/statuses.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fixed the stepper on the mobile
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/ui/src/lib/stepper/stepper.component.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

after clicking on ENABLE SUBMISSIONS show votes for the solution and change the title text to the solution
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
Due: eslint --fix --config ./.eslintrc.json

Change credential to stage server
  projects/dapp/src/environments/environment.stage.ts
Due: eslint --fix --config ./.eslintrc.json

lint + tests
  .eslintrc.json
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/sort-by-score.pipe.ts
  projects/ui/src/lib/score-list/score-list.component.spec.ts
  projects/ui/src/lib/score-list/score-list.component.ts
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json

github links updated, button sizes for mobile, mobile layouts fixed, button primary renamed due to bug
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/guide-page/guide-page-routing.module.ts
  projects/dapp/src/app/pages/guide-page/guide-page.component.html
  projects/dapp/src/app/pages/guide-page/guide-page.component.scss
  projects/dapp/src/app/pages/guide-page/guide-page.component.spec.ts
  projects/dapp/src/app/pages/guide-page/guide-page.component.ts
  projects/dapp/src/app/pages/guide-page/guide-page.module.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  projects/dapp/src/app/pages/landing-page/landing-page.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.module.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/link/link.component.html
  projects/ui/src/lib/entity/link/link.component.scss
  projects/ui/src/lib/entity/link/link.component.spec.ts
  projects/ui/src/lib/entity/link/link.component.ts
  projects/ui/src/lib/entity/link/link.module.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  projects/ui/src/lib/modals/add-member/add-member.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.html
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.html
  resources/i18n/en.json
  resources/styles/button.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

landing: <button>> removed, added button styles to <a> instead
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/landing-page/landing-page.component.scss
  resources/styles/button.scss
Due: stylelint --fix

added variables to flow
  projects/dapp/src/app/transloco-module.spec.ts
  projects/dapp/src/app/transloco/transloco-root.module.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/libs/src/lib/pipes/safe-html.pipe.ts
  projects/ui/src/lib/flow-text/flow-text.component.html
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/flow-text/flow-text.module.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

add LinkHttpPipe
  projects/libs/src/lib/pipes/link-http.pipe.ts
  projects/libs/src/lib/pipes/pipes.module.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

optimization
  projects/ui/src/lib/flow-text/flow-text.component.ts
Due: eslint --fix --config ./.eslintrc.json

optimization
  resources/i18n/en.json
Due: none

added a pipe to all links to external sources
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.module.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/apply/apply.module.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/user-contacts/user-contacts.module.ts
Due: eslint --fix --config ./.eslintrc.json

- added fake hiding of voting buttons before stopping the submission of decisions.
  projects/dapp/src/app/pages/all-teams-page/all-teams-page.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/libs/src/lib/pipes/link-http.pipe.ts
  projects/libs/src/lib/pipes/sort-by-solutions.pipe.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.html
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --fix --config ./.eslintrc.json

scroll up after navigation
  projects/dapp/src/app/app.component.ts
Due: eslint --fix --config ./.eslintrc.json

adding descriptions for interhack statuses
  resources/i18n/en.json
Due: none

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
