Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

disabled red
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  resources/styles/mixins/elements/btn-container.scss
Due: stylelint --fix

Fixed parsing data about user in contract Added new addresses contacts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix prepare empty contacts
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  angular.json
  projects/dapp/src/app/app.component.spec.ts
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.spec.ts
  projects/dapp/src/app/transloco-module.spec.ts
  projects/dapp/tsconfig.spec.json
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/tsconfig.spec.json
  projects/services/src/lib/contract/contract.service.ts
  projects/services/tsconfig.spec.json
  projects/ui/src/lib/entity/body/body.component.spec.ts
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/entity/team/team.component.spec.ts
  projects/ui/src/lib/header/header.component.spec.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.spec.ts
  projects/ui/tsconfig.spec.json
  resources/styles/container.scss
  resources/styles/variables.scss
  tsconfig.spec.json
  tslint.json
  yarn.lock
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Refactoring master flow on contracts
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/footer/footer.component.html
  projects/ui/src/lib/footer/footer.component.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Refactoring - Create more contract services - Changes dependencies from this services
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/popup/popup.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Clear me console.log
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Linting files
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Changed the conclusion of important grants, removed with the submitted applications.
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Made routing to the main page when clicking on the logo
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

Fixed logo styles on mobile
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

grants-variation h scroll
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
Due: stylelint --fix

Rename ethod interhack contract
  projects/services/src/lib/contract/Interhack-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Rename method addTaskDetail -> addReward
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

about page: fix text
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  resources/assets/fonts/Montserrat-Bold.ttf
  resources/styles/fonts.scss
Due: stylelint --fix

entity__body: fix link
  projects/ui/src/lib/entity/body/body.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/header/header.component.ts
  resources/styles/mixins/container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Save current contract in local storage
  .github/workflows/testing.yml
  projects/dapp/src/app/app.providers.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/storage/storage.model.ts
  projects/services/src/lib/storage/storage.module.ts
  projects/services/src/lib/storage/storage.service.spec.ts
  projects/services/src/lib/storage/storage.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix team
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Successfully applied - modal
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  resources/assets/icons/success-grant-apply.svg
  resources/styles/mixins/elements/btn-container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

hide tags
  projects/ui/src/lib/listing/listing.component.html
Due: none

add modal animation
  projects/ui/src/lib/modal/modal.component.html
  projects/ui/src/lib/modal/modal.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add modal animation
  projects/ui/src/lib/modal/modal.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change addresses in environment
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added processing in invoke method
  projects/dapp/src/app/app.providers.ts
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added stage config
  angular.json
  package.json
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/storage/storage.service.spec.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Revert important
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
Due: stylelint --fix

Fix production config
  projects/dapp/src/environments/environment.prod.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix production config
  projects/dapp/src/environments/environment.stage.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Refactoring addDaoMember and addWGMember methods
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/app/pages/setting-page/setting-page-routing.module.ts
  projects/dapp/src/app/pages/setting-page/setting-page.component.html
  projects/dapp/src/app/pages/setting-page/setting-page.component.scss
  projects/dapp/src/app/pages/setting-page/setting-page.component.spec.ts
  projects/dapp/src/app/pages/setting-page/setting-page.component.ts
  projects/dapp/src/app/pages/setting-page/setting-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  resources/i18n/en.json
  resources/styles/mixins/elements/btn-container.scss
  resources/styles/ngx-progressbar/ngx-progressbar.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Added change detection in all component
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/app/pages/team-page/team-page.component.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modal/modal.component.ts
  projects/ui/src/lib/popup/popup.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix memory leak with loading wrapper
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  resources/styles/mixins/container.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix disable status
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/listing/listing.component.html
Due: stylelint --fix

Load raw file content
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/signer/signer.service.spec.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/team/team.service.spec.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.spec.ts
  projects/ui/src/lib/listing/listing.providers.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change title application
  resources/i18n/en.json
Due: none

modal add cdr
  projects/ui/src/lib/modal/modal.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add grant img
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  resources/assets/img/dev-type.png
  resources/assets/img/disruptive-type.png
  resources/assets/img/interhack-type.png
Due: stylelint --fix

add grant hover style
  projects/ui/src/lib/listing/listing.component.scss
  resources/styles/mixins/elements.scss
Due: stylelint --fix

add grant hover style
  resources/styles/mixins/elements.scss
Due: stylelint --fix

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --no-eslintrc -c .github/linters/.eslintrc.yml: any of: *.{ts,js}
  standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
