Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

add rewardDirective pipe
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

EditGrantComponent to modal
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page-routing.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.guard.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.html
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.scss
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.spec.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add web3-template
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

signup output
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dialog/dialog.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.ts
  projects/ui/src/lib/footer/footer.component.scss
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/layout/common-layout/common-layout.component.scss
  projects/ui/src/lib/layout/common-layout/common-layout.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/modals/add-reward/add-reward.component.scss
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.scss
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.scss
  projects/ui/src/lib/tag/tag.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

openApplyModal output
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

newVoteTeamEvent output
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

newFinishVoteEvent output
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

newFinishVoteEvent, newStartWorkEvent, newRejectEvent, newAcceptWorkResultEvent, newFinishApplicantsVoteEvent, newAddRewardEvent, newEditGrantEvent
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

vote()
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

typography
  projects/dapp/src/app/pages/home-page/home-page.component.html
  projects/dapp/src/app/pages/home-page/home-page.component.scss
  resources/styles/index.scss
  resources/styles/mixins/typography.scss
Due: stylelint --fix

typography
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  resources/styles/mixins/typography.scss
Due: stylelint --fix

typography
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

typography
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/tag/tag.component.html
  projects/ui/src/lib/tag/tag.component.scss
Due: stylelint --fix

typography
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  resources/styles/container.scss
  resources/styles/index.scss
  resources/styles/mixins/elements.scss
Due: stylelint --fix

typography
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/loading-page/loading-page.component.html
  projects/dapp/src/app/pages/not-found-page/not-found-page.component.html
  projects/ui/src/lib/dialog/dialog.component.html
Due: none

typography
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/ui/src/lib/entity/team/team.component.html
  projects/ui/src/lib/entity/team/team.component.scss
  resources/styles/index.scss
Due: stylelint --fix

typography
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  resources/styles/index.scss
Due: stylelint --fix

Нам нужно, чтобы при отклике на грант открывалась страница создания issue, для каждого из грантов своя.
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

added addTaskDetails and addReward methods to templates
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.scss
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.spec.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

initTaskVoting
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add status
  projects/services/src/lib/static/static.model.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add mindmap
  mindmap.mmd
Due: none

add disruptive-template and interhack-template
  mindmap.mmd
  projects/dapp/src/app/pages/entity-page/default-template/default-template.component.scss
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.scss
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.scss
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

team__title from input
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/team/team.component.spec.ts
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/team/team.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add solution to intehack template
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix DisruptiveContractService
  community-grant.ride
  contract-dev3.ride
  interhack-grant.ride
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/services/src/lib/contract/disruptive-contract.service.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add VoteForTaskComponent
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
  projects/ui/src/lib/vote-for-task/vote-for-task.component.spec.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

optimized VoteForTaskComponent
  .gitignore
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/static/static.service.spec.ts
  projects/ui/src/lib/contract-menu/contract-menu.component.spec.ts
  projects/ui/src/lib/dialog/dialog.component.spec.ts
  projects/ui/src/lib/dialog/dialog.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  projects/ui/src/lib/modals/add-reward/add-reward.module.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.module.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.module.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.module.ts
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

optimized VoteForTaskComponent
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

дополнил карту по web3
  mindmap.mmd
Due: none

добавил stepper
  projects/dapp/src/index.html
  projects/services/src/lib/stepper/stepper.module.ts
  projects/services/src/lib/stepper/stepper.service.spec.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/stepper/stepper.component.html
  projects/ui/src/lib/stepper/stepper.component.scss
  projects/ui/src/lib/stepper/stepper.component.spec.ts
  projects/ui/src/lib/stepper/stepper.component.ts
  projects/ui/src/lib/stepper/stepper.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix stepper
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

stepper to template
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

lint
  projects/dapp/src/app/pages/entity-page/entity-page.module.ts
  projects/services/src/lib/static/static.service.spec.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/stepper/stepper.component.ts
  projects/ui/src/lib/stepper/stepper.module.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update contracts
  community-grant.ride
  contracts/dao-membership.ride
  contracts/disruptive-grant.ride
  contracts/interhack-grant.ride
  contracts/web3-grant.ride
Due: none

Update documentation
  README.md
Due: markdownlint --fix

sonar fix
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/home-page/home-page.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.html
  projects/dapp/src/test.ts
  projects/libs/src/test.ts
  projects/services/src/test.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/test.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6
