Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Linting
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/services/src/lib/stepper/stepper.service.spec.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Delete dependencies
  projects/dapp/src/app/app.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix testing templates
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/ui/src/lib/stepper/stepper.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.spec.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix linting
  projects/services/src/lib/link-content/link-content.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added badges in README.md
  README.md
Due: markdownlint --fix

temp
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

PRODUCTION-2151
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix members-page style
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/services/src/lib/contract/community-contract.service.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Удалил условия !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.scss
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.scss
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/team/team.component.scss
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
Due: stylelint --fix

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Удалил условия 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix vote-for-task style
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
Due: stylelint --fix

clear
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
Due: stylelint --fix

- Added labels in en.json - Delete redirect after logout - Update contract web3
  contracts/web3-grant.ride
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Accept work result делаем в модалке, что бы можно было ввести ссылку на отчет о результате
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.scss
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.spec.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.module.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

dApp // В web3 гранте при выполнении addReward мы передаем только аргументы, мы не просим перевести waves
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // В функции addTaskDetail прятать модалку после отправки запроса
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // В блок голосования за грант добавить ховера при наведении на кликабельные элементы. Указатель курсора - сursor: pointer
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
Due: stylelint --fix

dApp // Когда жмем reject в окне перевода (signer), появляется пустой снекбар, надо что бы выводилась нормальная ошибка о том, что транзакция прервана
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix catchError
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

условия для кнопок web3
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/static/static.model.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.scss
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

web3 add stepper
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/stepper/stepper.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

clear
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

dApp // Перенести кнопки Add task details и start work в заголовок гранта. Справа от заголовка.
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix linting
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.module.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

interhack ui
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/team/team.component.html
  projects/ui/src/lib/team/team.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix isShowAddRewardBtn$
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix comments about web3 grants
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix css
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.scss
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.scss
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.scss
  projects/ui/src/lib/entity/body/body.component.scss
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/stepper/stepper.component.scss
Due: stylelint --fix

fix header css in mob and isShowAddRewardBtn$
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/ui/src/lib/entity/header/header.component.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix RewardDirective
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.scss
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/team/team.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix input css
  resources/styles/mixins/elements/floating-label.scss
Due: stylelint --fix

disruptive btn
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

temp
  projects/ui/src/lib/entity/header/header.component.html
Due: none

Fix comments about web3 grants
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/ui/src/lib/modals/accept-work-result/accept-work-result.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change confirmation config
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix linting and tests
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/libs/src/lib/directives/reward.directive.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --no-eslintrc -c .github/linters/.eslintrc.yml: any of: *.{ts,js}
  standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
