Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

test
  projects/ui/src/lib/modals/add-reward/add-reward.component.ts
Due: eslint --fix --config ./.eslintrc.json

test 1
  .github/workflows/e2e.yml
Due: none

test 2
  .github/workflows/e2e.yml
Due: none

test 3
  .github/workflows/e2e.yml
Due: none

test 4
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/githublinter.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
  .github/workflows/testing.yml
Due: none

test 5
  .github/workflows/e2e.yml
Due: none

test 6
  .github/workflows/e2e.yml
Due: none

test 7
  .github/workflows/e2e.yml
Due: none

test 8
  .github/workflows/e2e.yml
Due: none

Update deploy config. Added environments scope on deploy
  .github/environment/action.yml
  .github/workflows/deploy-web3.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/githublinter.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
  .github/workflows/testing.yml
Due: none

Update deploy config to web3 server
  .github/environment/action.yml
  .github/heroku-create/action.yml
  .github/linters/.eslintrc.yml
  .github/linters/.stylelintrc.json
  .github/workflows/deploy-web3.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  projects/dapp/e2e/protractor.conf.js
  projects/dapp/e2e/src/app.po.ts
  projects/services/src/lib/request/request.service.ts
Due: eslint --fix --config ./.eslintrc.json

fix sonarqube && tests && lint
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: eslint --fix --config ./.eslintrc.json

Update deploy config
  .github/workflows/deploy-web3.yml
  .github/workflows/deploy.yml
  projects/services/src/lib/request/request.service.ts
Due: eslint --fix --config ./.eslintrc.json

Added generate packages and fix create heroku app
  .github/heroku-create/action.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-release.yml
  Dockerfile
Due: none

Added default tag manager params to docker image
  Dockerfile
Due: none

Added tag manager module
  .github/workflows/e2e.yml
  package.json
  projects/dapp/src/app/app.component.ts
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/dapp/src/index.html
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

token placeholder, black background removed
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  resources/assets/icons/token-placeholder.svg
Due: stylelint --fix

new icon for checking github links
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/assets/icons/github-checked-gray.svg
  resources/assets/icons/github-checked-green.svg
  resources/assets/icons/github-checked-red.svg
  resources/i18n/en.json
  resources/styles/mixins/elements/card.scss
Due: stylelint --fix

add hide btn to web3
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

solution link and team link restyled
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
Due: stylelint --fix

fix hash
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix --config ./.eslintrc.json

Added custom asset to contract
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

added second input argument to <ui-hash>
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

Fix async decorator
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix --config ./.eslintrc.json

use set
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

fix style && hash service && lint && tests
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/services/src/lib/hash/hash.service.ts
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

marge
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/functions.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.interface.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/interface.ts
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/entity/header/header.component.scss
  projects/ui/src/lib/entity/header/header.component.ts
  projects/ui/src/lib/entity/header/header.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.module.ts
  projects/ui/src/lib/modals/apply/apply.component.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
  projects/ui/src/lib/score-list/score-list.component.html
  projects/ui/src/lib/score-list/score-list.component.scss
  projects/ui/src/lib/score-list/score-list.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

marge
  projects/services/src/lib/hash/hash.module.ts
  projects/services/src/lib/hash/hash.service.spec.ts
  projects/services/src/lib/hash/hash.service.ts
  projects/ui/src/lib/hash/hash.component.html
  projects/ui/src/lib/hash/hash.component.scss
  projects/ui/src/lib/hash/hash.component.spec.ts
  projects/ui/src/lib/hash/hash.component.ts
  projects/ui/src/lib/hash/hash.module.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

marge
  resources/assets/icons/github-checked-gray.svg
  resources/assets/icons/github-checked-green.svg
  resources/assets/icons/github-checked-red.svg
Due: none

marge
  resources/i18n/en.json
Due: none

marge
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint & tests
  projects/libs/src/lib/decorators/async-input.decorator.ts
Due: eslint --fix --config ./.eslintrc.json

Asset variables change
  package.json
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.model.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Added optional reward asset, icon and decimal on asset
  package.json
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/services/src/lib/static/static.model.ts
  projects/ui/src/lib/entity/header/header.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.scss
  resources/styles/mixins/elements.scss
  resources/styles/mixins/elements/card.scss
  sample.env
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

empty tokens list message
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
Due: none

Optional assets fix test
  .github/workflows/deploy-web3.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-release.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  .gitignore
  package.json
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/dapp/src/environments/utils.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/static/static.service.ts
Due: eslint --fix --config ./.eslintrc.json

Fix tests
  .eslintignore
  .github/workflows/githublinter.yml
  .github/workflows/testing.yml
  package.json
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/ui/src/lib/entity/header/header.component.spec.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.spec.ts
  projects/ui/src/lib/modals/add-reward/add-reward.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.spec.ts
  projects/ui/src/lib/score-list/score-list.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

fix hash text
  projects/ui/src/lib/hash/hash.component.html
  resources/i18n/en.json
Due: none

Added internal icon to asset
  projects/dapp/src/environments/environment.ts
  resources/assets/coins/usdn.svg
  resources/assets/coins/waves.svg
Due: eslint --fix --config ./.eslintrc.json

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --fix --config ./.eslintrc.json: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
