Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix --config ./.eslintrc.json"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

yet empty element
  projects/ui/src/lib/votings-entity/votings-entity.component.html
  projects/ui/src/lib/votings-entity/votings-entity.component.scss
  projects/ui/src/lib/votings-entity/votings-entity.component.spec.ts
  projects/ui/src/lib/votings-entity/votings-entity.component.ts
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

added votings-template (nearly empty)
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.module.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/ui/src/lib/votings-entity/votings-entity.component.html
  projects/ui/src/lib/votings-entity/votings-entity.component.spec.ts
  projects/ui/src/lib/votings-entity/votings-entity.component.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

add token-votings.ride
  contracts/token-votings.ride
Due: none

template for votings
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.module.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.html
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.scss
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.spec.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.module.ts
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

added todos
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.html
Due: eslint --fix --config ./.eslintrc.json

init new branch
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
Due: eslint --fix --config ./.eslintrc.json

fix
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix teams, tests and linting
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/request/request.service.spec.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --fix --config ./.eslintrc.json

Update refreshing requests
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix messages on grant elements
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/text-options/text-options.interface.ts
  projects/services/src/lib/text-options/text-options.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Fix and update web3 grant
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.interface.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/request/request.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/text-options/text-options.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/flow-text/flow-text.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Fix config tests
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  angular.json
  package.json
  projects/dapp/karma.conf.js
  projects/dapp/src/environments/environment.prod.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

Check dev mode conditions on prod server
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  README.md
  angular.json
  package.json
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/libs/src/lib/log/log.rxjs-operator.ts
  projects/libs/src/lib/pipes/link-http.pipe.ts
  projects/ui/src/lib/score-list/score-list.component.html
  tsconfig.json
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

Update README.md and lint
  README.md
  projects/libs/src/lib/pipes/link-http.pipe.ts
Due: markdownlint --fix, eslint --fix --config ./.eslintrc.json

Fix header
  projects/services/src/lib/user/user.interface.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.model.ts
Due: eslint --fix --config ./.eslintrc.json

Linting
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/header/header.model.ts
Due: eslint --fix --config ./.eslintrc.json

I fixed a bug addReward modal window
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

removed the number transformation
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.html
Due: none

styles
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/listing-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  resources/styles/mixins/elements/card.scss
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

used DestroyedSubject
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

refactoring votings
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

Fix merge
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/ui/src/lib/listing/listing.module.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.html
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.scss
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.spec.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.component.ts
  projects/ui/src/lib/listing/sub-list-votings/sub-list-votings.module.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

h1, h2
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  projects/ui/src/lib/header/header.component.scss
  resources/styles/const.scss
  resources/styles/markdown.scss
Due: stylelint --fix

Add mainnet badge
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
Due: stylelint --fix

refactoring disruptive
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
Due: eslint --fix --config ./.eslintrc.json

refactoring interhack
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

icon sizes made adjustable
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
Due: stylelint --fix

Related fixes when testing
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

tests
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

tests
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json

Change path to votings page
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --fix --config ./.eslintrc.json

tests
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

get VotingsTemplateComponent from develop
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

minor text style fix
  projects/dapp/src/app/pages/listing-page/votings-template/votings-template.component.scss
Due: stylelint --fix

Fix caption on voting page
  resources/i18n/en.json
Due: none

https://github.com/rieset/waves-dao-app/pull/81#discussion_r594611185
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json

removed old methods from votings
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.html
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.ts
Due: eslint --fix --config ./.eslintrc.json
