Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

Production 2242 voting grant (#7)
  .stylelintrc
  projects/dapp/src/app/app.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/services/src/lib/icon-service/icon-service.module.ts
  projects/services/src/lib/icon-service/icon-service.service.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.module.ts
  resources/assets/svg/icons/dislike.svg
  resources/assets/svg/icons/like.svg
  resources/i18n/en.json
  resources/styles/index.scss
  resources/styles/material-overlap/button/index.scss
  resources/styles/material-overlap/index.scss
  tslint.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix en.json
  resources/i18n/en.json
  resources/styles/mixins/elements/icon-logo.scss
Due: stylelint --fix

Fix linter comments
  package.json
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/transloco-module.spec.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/team/team.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/listing/listing.component.ts
  yarn.lock
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix same ts warnings
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/ui/src/lib/listing/listing.component.ts
  tslint.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/transloco-module.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/e2e/src/app.po.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/services/src/lib/link-content/link-content.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/transloco-module.spec.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/signer/signer.service.ts
  tsconfig.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/transloco-module.spec.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/ui/src/lib/layout/common-layout/common-layout.provider.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
  tsconfig.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/entity/body/body.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/stepper/stepper.component.ts
  projects/ui/src/lib/team/team.component.ts
  projects/ui/src/lib/teams-and-solutions/teams-and-solutions.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/about-page/about-page.component.spec.ts
  projects/dapp/src/app/pages/about-page/about-page.provider.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.providers.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/window/window.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/about-page/about-page.component.spec.ts
  projects/dapp/src/app/pages/about-page/about-page.provider.ts
  projects/dapp/src/app/pages/entity-page/entity-page.providers.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.providers.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

icon-logo
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  projects/ui/src/lib/modals/apply/apply.component.html
  projects/ui/src/lib/modals/apply/apply.component.ts
  resources/i18n/en.json
  resources/styles/container.scss
  resources/styles/mixins/elements/card.scss
  resources/styles/mixins/elements/icon-logo.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

icon-logo
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
Due: stylelint --fix

icon-logo color on important cards fixed
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.html
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
  resources/styles/mixins/elements/card.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Fix linter warnings
  .eslintrc
  .eslintrc.json
  .github/linters/.eslintrc.yml
  .lintstagedrc
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/services/src/lib/contract/contract-provider-factory.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.interface.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/static/static.model.ts
  projects/services/src/lib/storage/storage.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/window/window.service.ts
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.providers.ts
  projects/ui/src/lib/stepper/stepper.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix linter warnings
  projects/ui/src/lib/dialog/dialog.tokens.ts
  projects/ui/src/lib/listing/sub-list/sub-list.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm await
  projects/dapp/e2e/src/app.po.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

ToDo избавится от дублирования фуекций из contract Service
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/requests-service/requests.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
Due: none

fix
  projects/ui/src/lib/vote-for-task/vote-for-task.component.html
  projects/ui/src/lib/vote-for-task/vote-for-task.component.scss
Due: stylelint --fix

fix
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/e2e/src/app.po.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/functions.ts
  projects/dapp/src/app/pages/members-page/members-page.component.spec.ts
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/requests-service/requests.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/modals/add-member/add-member.component.spec.ts
  projects/ui/src/lib/modals/submit-solution/submit-solution.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Change config eslint
  .eslintrc.json
  package.json
Due: none

Change owner grants
  projects/dapp/src/environments/environment.stage.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Update yarn lock file
  yarn.lock
Due: none

fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/libs/src/lib/decorators/async-input.decorator.ts
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/directives/reward.directive.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/libs/src/lib/pipes/price-formatting.ts
  projects/libs/src/lib/pipes/routes.lib.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/libs/src/test.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/stepper/stepper.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6
