Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --fix --config ./.eslintrc.json, stylelint --fix

.lintstagedrc:

{
  "*.md": [
    "markdownlint --fix"
  ],
  "*.{ts,js}": [
    "eslint --fix --config ./.eslintrc.json"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

Update angular cli
  package.json
  yarn.lock
Due: none

Update angular core
  package.json
  yarn.lock
Due: none

Update rxjs
  package.json
  yarn.lock
Due: none

Fix tests
  angular.json
  package.json
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.spec.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/votings-template/votings-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.scss
  projects/ui/src/lib/modals/accept-work-result-interhack/accept-work-result-interhack.component.spec.ts
  projects/ui/src/lib/modals/finish-applicants-voting/finish-applicants-voting.component.spec.ts
Due: eslint --fix --config ./.eslintrc.json, stylelint --fix

logout logo animation on hover
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  resources/assets/icons/log-out-arrow.svg
  resources/assets/icons/log-out-bracket.svg
Due: stylelint --fix

special votings diagram
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
  resources/assets/img/diagram_votings_2x.png
Due: none

changed transition style for logout button
  projects/ui/src/lib/header/header.component.scss
  yarn.lock
Due: stylelint --fix

Update condition on voting diagram
  projects/dapp/src/app/pages/landing-page/landing-page.component.html
Due: none

updated the versions of all packages
  package.json
  yarn.lock
Due: none

hidden on product logs and corrected doker file
  Dockerfile
  package.json
  projects/dapp/src/environments/environment.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/libs/src/lib/pipes/sort-by-team.pipe.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/link-content/link-content.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.service.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

fix
  package.json
  projects/dapp/src/environments/environment.prod.template.ts
  projects/libs/src/lib/loading-wrapper/loading-wrapper.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --fix --config ./.eslintrc.json

fix
  yarn.lock
Due: none

fix prod ts
  package.json
  projects/dapp/src/environments/environment.prod.template.ts
  projects/dapp/src/environments/environment.prod.ts
Due: eslint --fix --config ./.eslintrc.json

Fixed Interfaces Singer
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

lint and fix
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --fix --config ./.eslintrc.json

rm console.log
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --fix --config ./.eslintrc.json

one line launch command
  Dockerfile
Due: none

Update test config and linter warnings
  angular.json
  package.json
  projects/services/src/lib/signer/signer.service.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

Update config husky
  .gitignore
  package.json
Due: none

Update config autotest
  .github/workflows/testing.yml
Due: none

Fix deploy configs
  .github/workflows/testing.yml
  Dockerfile
  package.json
Due: none

Added condition on change contract type
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --fix --config ./.eslintrc.json

fixed interfaces
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --fix --config ./.eslintrc.json

refactoring ui/header
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
Due: eslint --fix --config ./.eslintrc.json

refactoring ui/header 2
  projects/services/src/lib/signer/signer.service.ts
  yarn.lock
Due: eslint --fix --config ./.eslintrc.json

Update testing
  .github/workflows/e2e.yml
  package.json
Due: none

Fix e2e test
  package.json
Due: none

Fix warnings
  angular.json
Due: none

moved the link to about into a variable
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

lint
  projects/dapp/src/app/pages/about-page/about-page.component.ts
Due: eslint --fix --config ./.eslintrc.json

Update release config
  .github/workflows/release.yml
Due: none

Fix error about use unknown tag
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
Due: none

Fixed links to information about grants
  README.md
Due: markdownlint --fix

markdown styles
  projects/dapp/src/app/pages/about-page/about-page.component.html
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  resources/styles/markdown.scss
  resources/styles/mixins/elements/card.scss
Due: stylelint --fix

Fix error message obout unavailable contract
  projects/ui/src/lib/listing/listing.providers.ts
  resources/i18n/en.json
Due: eslint --fix --config ./.eslintrc.json

Fixed simple.env file
  sample.env
Due: none

Update decorators and create new debug decorators
  projects/libs/src/lib/decorators/common.decorator.ts
  projects/libs/src/lib/decorators/debug$.decorator.ts
  projects/libs/src/lib/decorators/destroyed-subject.decorator.ts
  projects/libs/src/lib/log/log.rxjs-operator.ts
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix --config ./.eslintrc.json

Refactoring listing.component.ts. Delete copy pasted cases in switch
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --fix --config ./.eslintrc.json

more markdown fixes: h6, h2
  projects/dapp/src/app/pages/about-page/about-page.component.scss
  resources/styles/markdown.scss
Due: stylelint --fix
