Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add user service
  projects/services/src/lib/user/user.interface.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add user service
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.module.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Stage 1 + 2 ok
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/services/src/interface.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  resources/assets/icons/grant-completed.svg
  resources/assets/icons/grant-failed.svg
  resources/assets/icons/grant-wait.svg
  resources/styles/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Stage 1 + 2 ok
  tslint.json
Due: none

Stage 1 + 2 ok
  projects/dapp/e2e/src/app.e2e-spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Stage 1 + 2 ok
  projects/ui/src/lib/listing/listing.component.html
Due: none

Add modal style
  projects/dapp/src/app/app.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  resources/styles/elements.scss
Due: stylelint --fix

Checkout signer to testnet
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix tests
  package.json
  projects/dapp/src/app/pages/listing-page/listing-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/header/header.component.spec.ts
  projects/ui/src/lib/listing/listing.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add modal component
  projects/dapp/src/app/app.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/ui/src/lib/modal/modal.component.html
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/modal/modal.component.ts
  projects/ui/src/lib/modal/modal.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Rm prefix and add home link
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/modal/modal.module.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.guard.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/dapp/src/app/pages/apply-grant-page/AuthGuard.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/modal/modal.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/ui/src/lib/header/header.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/dapp/src/app/pages/entity-page/entity-page.component.ts
  projects/dapp/src/app/pages/listing-page/listing-page.component.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/header/header.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add ApplyGrantPageGuard
  projects/ui/src/lib/header/header.module.ts
  projects/ui/src/lib/tag/tag.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Add need_vote text for DAO
  projects/services/src/lib/user/user.interface.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  resources/i18n/en.json
  resources/styles/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add DAO vote
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/listing/listing.component.html
  resources/assets/icons/vote-min.svg
  resources/assets/icons/vote-plus.svg
  resources/assets/icons/vote.svg
  resources/styles/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Add ApplyGrantPageGuard
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.spec.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.guard.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  resources/i18n/en.json
  resources/styles/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

Add state 5
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix state 5
  projects/ui/src/lib/entity/entity.component.html
Due: none

add state 5
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.spec.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.guard.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.module.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/header/header.component.html
  resources/styles/elements.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add state 5
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  resources/styles/layout.scss
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

refactoring
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.guard.ts
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.guard.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.guard.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.module.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.module.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.scss
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/modal/modal.component.html
  projects/ui/src/lib/modal/modal.component.scss
  projects/ui/src/lib/modal/modal.module.ts
  projects/ui/src/lib/tag/tag.component.scss
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

refactoring
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.html
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.component.scss
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.html
  projects/dapp/src/app/pages/entity-page/entity-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.html
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.scss
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.scss
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.scss
  projects/ui/src/lib/tag/tag.component.scss
  resources/styles/elements.scss
Due: stylelint --fix

refactoring
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

refactoring
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add tag filter
  projects/ui/src/lib/listing/listing.component.html
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/tag/tag.component.html
  projects/ui/src/lib/tag/tag.component.scss
  projects/ui/src/lib/tag/tag.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

fix tag filter
  projects/ui/src/lib/listing/listing.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

SignerService add invoke()
  projects/dapp/src/app/pages/apply-grant-page/apply-grant-page.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page-routing.module.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.component.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.module.ts
  projects/dapp/src/app/pages/not-found-page/not-found-page.module.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.model.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/entity/entity.module.ts
  projects/ui/src/lib/listing/listing.component.ts
  projects/ui/src/lib/modal/modal.module.ts
  projects/ui/src/lib/tag/tag.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

copy methods from contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix signer provider
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

add contract methods and contract file
  contract.ride
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Updating the list of grants after adding. It takes at least 5 seconds.
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added a request for a reward after adding a grant
  projects/dapp/src/app/pages/create-grant-page/create-grant-page.component.ts
  projects/services/src/interface.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/header/header.component.html
  projects/ui/src/lib/header/header.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added the grant editing page and the ability to edit the award
  projects/dapp/src/app/app-routing.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page-routing.module.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.html
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.scss
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.spec.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.component.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.guard.ts
  projects/dapp/src/app/pages/edit-grant-page/edit-grant-page.module.ts
  projects/dapp/src/environments/environment.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

PRODUCTION-1979 #time 1h #comment this is a test
  projects/ui/src/lib/entity/entity.component.html
Due: none

Path conditions:
  markdownlint --fix: any of: *.md
  eslint --no-eslintrc -c .github/linters/.eslintrc.yml: any of: *.{ts,js}
  standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6: any of: *.{ts,js}
  stylelint --fix: any of: *.scss
