Repository Waves-DAO-Team/waves-dao-app: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

.lintstagedrc:

{
  "*.md": [
  "markdownlint --fix"
  ],
  "*.{ts,js}": [
  "eslint --no-eslintrc -c .github/linters/.eslintrc.yml",
  "standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6"
  ],
  "*.scss": [
  "stylelint --fix"
  ]
}

fix
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.html
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  angular.json
  package.json
  projects/libs/tsconfig.lib.json
  projects/libs/tsconfig.lib.prod.json
  projects/services/tsconfig.lib.json
  projects/services/tsconfig.lib.prod.json
  projects/ui/tsconfig.lib.json
  projects/ui/tsconfig.lib.prod.json
  yarn.lock
Due: none

update
  package.json
Due: none

update ng v
  package.json
  yarn.lock
Due: none

sonar fix
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.component.html
  projects/dapp/src/app/pages/stylesheet-page/stylesheet-page.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

removed old function calls
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/ui/src/lib/entity/entity.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

удалил неиспользуемые методы (invoke и doRefreshTimeOut)
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added membership contracts on ecosystem DAO
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/contract.model.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.module.ts
  projects/services/src/lib/membership/membership.service.spec.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/listing/listing.component.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/contract/Interhack-contract.service.ts
  projects/services/src/lib/contract/common-contract.service.ts
  projects/services/src/lib/contract/disruptive-contract.service.ts
  projects/services/src/lib/signer/signer.service.ts
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

rm edit grant
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.html
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/entity-page/entity.interface.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.html
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.ts
  projects/services/src/lib/user/user.interface.ts
  projects/ui/src/lib/entity/controls/controls.component.html
  projects/ui/src/lib/entity/controls/controls.component.ts
  projects/ui/src/lib/entity/controls/controls.module.ts
  projects/ui/src/lib/entity/entity.component.html
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.html
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.scss
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.spec.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.component.ts
  projects/ui/src/lib/modals/edit-grant/edit-grant.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

добавил user-contacts ui
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  resources/assets/icons/social/facebook.svg
  resources/assets/icons/social/linkedin.svg
  resources/assets/icons/social/twitter.svg
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

add github action
  .github/workflows/sonarcloud.yml
Due: none

test action
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: none

Working groups passed from system environments before building project
  package.json
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  yarn.lock
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

action
  .github/workflows/sonarcloud.yml
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: none

Move run-all to production dependencies
  package.json
Due: none

Change heroku config
  package.json
Due: none

action
  .github/workflows/sonarcloud.yml
  projects/dapp/src/app/pages/members-page/members-page.component.scss
Due: stylelint --fix

Testing envsub integration
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Testing envsub integration
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Testing envsub integration
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: none

Testing envsub integration
  package.json
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Added test data in members
  package.json
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/dapp/src/environments/environment.ts
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

user-contacts bem
  .github/workflows/sonarqube.yml
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  resources/styles/mixins/elements/user-contacts.scss
Due: stylelint --fix

bem in user-contacts
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: none

userc-contacts fix
  projects/dapp/src/app/app.providers.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/dapp/src/environments/environment.prod.ts
  projects/dapp/src/environments/environment.stage.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.html
  projects/ui/src/lib/user-contacts/user-contacts.component.scss
  projects/ui/src/lib/user-contacts/user-contacts.component.spec.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
  projects/ui/src/lib/user-contacts/user-contacts.module.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

UserContactsComponent, MembershipService tests and lint fix
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.ts
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/services/src/lib/contract/contract.service.spec.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.spec.ts
  projects/services/src/lib/signer/signer.service.ts
  projects/ui/src/lib/dev-grid/dev-grid.component.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.spec.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix html in user contacts
  projects/ui/src/lib/user-contacts/user-contacts.component.html
Due: none

Change functions master to owner
  projects/dapp/src/app/pages/master-setting-page/master-setting-page-routing.module.ts
  projects/dapp/src/app/pages/master-setting-page/master-setting-page.guard.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/membership/membership.service.ts
  projects/services/src/lib/static/static.service.ts
  projects/services/src/lib/user/user.interface.ts
  projects/services/src/lib/user/user.service.ts
  projects/ui/src/lib/header/header.component.html
  resources/i18n/en.json
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix functions for add task details
  projects/services/src/lib/contract/community-contract.service.ts
  projects/services/src/lib/contract/contract.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Поэтому, нужно перенести кнопку Settings на страницу members. И проверять текущего пользователя на соответствие переменной user.owner
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/ui/src/lib/header/header.component.html
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix

md
  README.md
  projects/dapp/src/app/pages/members-page/members-page.component.html
Due: markdownlint --fix

add structure diagram
  contracts/structure-diagram.png
Due: none

add md
  README.md
Due: markdownlint --fix

Fix position setting button on members page
  projects/dapp/src/app/pages/members-page/members-page.component.html
  projects/dapp/src/app/pages/members-page/members-page.component.scss
Due: stylelint --fix

Fix testing transloco module
  projects/dapp/src/app/pages/members-page/members-page.component.ts
  projects/dapp/src/app/pages/members-page/members-page.module.ts
  projects/dapp/src/app/transloco-module.spec.ts
  projects/services/src/lib/contract/contract.service.ts
  projects/services/src/lib/user/user.service.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

fix RewardDirective
  projects/libs/src/lib/directives/reward.directive.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6

Fix testing and update contracts
  contracts/disruptive-grant.ride
  contracts/interhack-grant.ride
  contracts/web3-grant.ride
  projects/dapp/src/app/pages/about-page/about-page-routing.module.ts
  projects/dapp/src/app/pages/entity-page/disruptive-template/disruptive-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/entity-page-routing.module.ts
  projects/dapp/src/app/pages/entity-page/interhack-template/interhack-template.component.spec.ts
  projects/dapp/src/app/pages/entity-page/web3-template/web3-template.component.spec.ts
  projects/dapp/src/app/pages/home-page/home-page.component.spec.ts
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.html
  projects/dapp/src/app/pages/listing-page/default-template/default-template.component.spec.ts
  projects/dapp/src/app/pages/listing-page/listing-page-routing.module.ts
  projects/dapp/src/app/pages/listing-page/listing-page.providers.ts
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.html
  projects/dapp/src/app/pages/listing-page/web3-template/web3-template.component.spec.ts
  projects/services/src/lib/static/static.service.spec.ts
  projects/services/src/lib/stepper/stepper.service.spec.ts
  projects/ui/src/lib/contract-menu/contract-menu.component.html
  projects/ui/src/lib/contract-menu/contract-menu.component.scss
  projects/ui/src/lib/contract-menu/contract-menu.component.spec.ts
  projects/ui/src/lib/contract-menu/contract-menu.component.ts
  projects/ui/src/lib/contract-menu/contract-menu.module.ts
  projects/ui/src/lib/dialog/dialog.component.spec.ts
  projects/ui/src/lib/entity/controls/controls.component.spec.ts
  projects/ui/src/lib/entity/entity.component.spec.ts
  projects/ui/src/lib/entity/entity.component.ts
  projects/ui/src/lib/footer/footer.component.spec.ts
  projects/ui/src/lib/layout/common-layout/common-layout.component.html
  projects/ui/src/lib/modals/add-reward/add-reward.component.spec.ts
  projects/ui/src/lib/modals/add-task-details/add-task-details.component.spec.ts
  projects/ui/src/lib/modals/apply/apply.component.spec.ts
  projects/ui/src/lib/modals/propose-grant/propose-grant.component.spec.ts
  projects/ui/src/lib/stepper/stepper.component.spec.ts
  projects/ui/src/lib/user-contacts/user-contacts.component.spec.ts
  projects/ui/src/lib/vote-for-task/vote-for-task.component.spec.ts
Due: eslint --no-eslintrc -c .github/linters/.eslintrc.yml, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin --env jasmine -env jest -env node -env es6, stylelint --fix
